/*Button*/


/*This button refers to the button like add,request,stockout*/

.general-button {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 5px 10px;
    gap: 5px;
    font-size: 0.6rem;
    font-weight: bold;
    border-radius: 20px;
    border: 1.5px solid white;
    font-family: "Inter" !important;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.general-button:focus {
    outline: 1px solid white;
}

.general-button img {
    width: 25px;
    height: 25px;
}

.general-button span {
    color: white;
}

.general-button:hover {
    transform: scale(1.03);
}