/*Swal Icon*/

.general-swal-icon {
    font-size: 15px !important;
    font-weight: 500;
    padding: 5px;
}
.general-swal-confirm-btn, .general-swal-cancel-btn {
    width: 150px;
    font-weight: bold;
    font-family: "Inter" !important;
}
.general-swal-title {
    font-family: "Inter" !important;
    font-size: 25px;
    font-weight: bolder !important;
    color: black !important;
}