
@{
    Layout = "/Views/Shared/_ManagerLayout.cshtml";
}

<style>
    .link-dashboard{
        background-color: #C6976C !important;

    }
</style>
<div class="dashboard-wrapper">
    <div class="box first">
        <div class="top-content">
            <div class="top-content-section-first">
                <div class="count-input">
                    <span>5</span>
                </div>
                <div class="icon">
                    <img src="~/images/totalUsers.png" />
                </div>
            </div>
            <div  class="top-content-section-second">              
               <span>no. of users</span>
           </div>
        </div>

        <div class="bottom-content">
            <div class="view-more view-more-first">
                <span>view more</span>
                <img src="~/images/next-black.png" />
            </div>
        </div>
    </div>
    <div class="box second">
        <div class="top-content">
            <div class="top-content-section-first">
                <div class="count-input">
                    <span>5</span>
                </div>
                <div class="icon">
                    <img src="~/images/totalSales.png" />
                </div>
            </div>
            <div class="top-content-section-second">
                <span>total sales</span>
            </div>
        </div>

        <div class="bottom-content">
            <div class="view-more view-more-second">
                <span>view more</span>
                <img src="~/images/next-black.png" />
            </div>
        </div>
    </div>
    <div class="box third">
        <div class="top-content">
            <div class="top-content-section-first">
                <div class="count-input">
                    <span>5</span>
                </div>
                <div class="icon">
                    <img src="~/images/totalProduct.png" />
                </div>
            </div>
            <div class="top-content-section-second">
                <span>no. of products</span>
            </div>
        </div>

        <div class="bottom-content">
            <div class="view-more view-more-third">
                <span>view more</span>
                <img src="~/images/next-black.png" />
            </div>
        </div>
    </div>
    <div class="box fourth">
        <div class="top-content">
            <div class="top-content-section-first">
                <div class="count-input">
                    <span>5</span>
                </div>
                <div class="icon">
                    <img src="~/images/totalUsers.png" />
                </div>
            </div>
            <div class="top-content-section-second">
                <span>no. of users</span>
            </div>
        </div>

        <div class="bottom-content">
            <div class="view-more view-more-fourth">
                <span>view more</span>
                <img src="~/images/next-black.png" />
            </div>
        </div>
    </div>
</div>