
@{
    Layout = "/Views/Shared/_ManagerLayout.cshtml";
}

<style>
    .link-dashboard{
        background-color: #747474 !important;
    }
</style>

<div class="loader-wrapper">
    <div class="loader"></div>
</div>

<div class="dashboard-wrapper">
    <div class="box first">
       <div class="box-top">
           <div class="box-top-left">             
                <div class="count-text">
                    <div>0</div>
                </div>
                <div class="noUser">
                    <div>
                        No. of Users
                    </div>
                 </div>             
           </div>
            <div class="box-top-right">

                <img src="~/images/totalUsers.png" />

            </div>
       </div>

       <div class="box-bottom">
           <div class="box-bottom-view">
                <span class="view-more">view more</span>
                <img src="~/images/next-black.png" />
           </div>
           
       </div>
      
    </div>








    <div class="box first">
        <div class="box-top">
            <div class="box-top-left">
                <div class="count-text">
                    <div>0</div>
                </div>
                <div class="noUser">
                    <div>
                        No. of Users
                    </div>
                </div>
            </div>
            <div class="box-top-right">

                <img src="~/images/totalUsers.png" />

            </div>
        </div>

        <div class="box-bottom">
            <div class="box-bottom-view">
                <span class="view-more">view more</span>
                <img src="~/images/next-black.png" />
            </div>

        </div>

    </div>
    <div class="box first">
        <div class="box-top">
            <div class="box-top-left">
                <div class="count-text">
                    <div>0</div>
                </div>
                <div class="noUser">
                    <div>
                        No. of Users
                    </div>
                </div>
            </div>
            <div class="box-top-right">

                <img src="~/images/totalUsers.png" />

            </div>
        </div>

        <div class="box-bottom">
            <div class="box-bottom-view">
                <span class="view-more">view more</span>
                <img src="~/images/next-black.png" />
            </div>

        </div>

    </div>
    <div class="box first">
        <div class="box-top">
            <div class="box-top-left">
                <div class="count-text">
                    <div>0</div>
                </div>
                <div class="noUser">
                    <div>
                        No. of Users
                    </div>
                </div>
            </div>
            <div class="box-top-right">

                <img src="~/images/totalUsers.png" />

            </div>
        </div>

        <div class="box-bottom">
            <div class="box-bottom-view">
                <span class="view-more">view more</span>
                <img src="~/images/next-black.png" />
            </div>

        </div>

    </div>
@* 
    <div class="box second">
        <div class="box-top">
            <div class="count">
                <span class="count-text">₱@ViewData["TotalSales"]</span>
            </div>
            <div class="icon">
                <img src="~/images/totalSales.png" />
            </div>
        </div>

        <div class="box-middle">
            <span class="label">Daily Sales</span>
        </div>

        <div class="box-bottom view-more-second">
            <span class="view-more">view more</span>
            <img src="~/images/next-black.png" />
        </div>
    </div>

    <div class="box third">
       <div class="box-top">
           <div class="count">
                <span class="count-text">@ViewData["CountProduct"]</span>
           </div>
            <div class="icon">
                <img src="~/images/totalProduct.png" />
           </div>
       </div>
       <div class="box-middle">
           <span class="label">No. of products</span>
       </div>
        <div class="box-bottom view-more-third">
           <span class="view-more">view more</span>
            <img src="~/images/next-black.png" />
       </div>
    </div>

    <div class="box fourth">
        <div class="box-top">
            <div class="count">
                <span class="count-text">@ViewData["CountCategory"]</span>
            </div>
            <div class="icon">
                <img src="~/images/category-black.png" />
            </div>
        </div>
        <div class="box-middle">
            <span class="label">No. of Categories</span>
        </div>
        <div class="box-bottom  view-more-fourth">
            <span class="view-more">view more</span>
            <img src="~/images/next-black.png" />
        </div>
    </div>
 *@
</div>