
@{
    Layout = "/Views/Shared/_ManagerLayout.cshtml";
}

<style>
    .link-dashboard{
        background-color: #C6976C !important;

    }
</style>
<div class="dashboard-wrapper">
    <div class="box first">
        <div class="top-content">
            <div class="top-content-section-first">
                <div class="count-input">
                    <span>5</span>
                </div>
                <div class="icon">
                    <img src="~/images/person.png" />
                </div>
            </div>
            <div  class="top-content-section-second">              
               <span>no. of</span>
           </div>
        </div>

        <div class="bottom-content">
            <div class="view-more">
                <span>View More</span>
            </div>
        </div>
    </div>

    <div class="box second">
        <div class="top-content">
            <div class="top-content-section-first">
                <div class="count-input">
                    <span>5</span>
                </div>
                <div class="icon">
                    <img src="~/images/person.png" />
                </div>
            </div>
            <div class="top-content-section-second">
                <span>no. of</span>
            </div>
        </div>

        <div class="bottom-content">
            <div class="view-more">
                <span>View More</span>
            </div>
        </div>
    </div>
    <div class="box third">
        <div class="top-content">
            <div class="top-content-section-first">
                <div class="count-input">
                    <span>5</span>
                </div>
                <div class="icon">
                       <img src="~/images/person.png" />
                </div>
            </div>
            <div class="top-content-section-second">
                <span>no. of</span>
            </div>
        </div>

        <div class="bottom-content">
            <div class="view-more">
                <span>View More</span>
            </div>
        </div>
    </div>
    <div class="box fourth">
        <div class="top-content">
            <div class="top-content-section-first">
                <div class="count-input">
                    <span>5</span>
                </div>
                <div class="icon">
                    <img src="~/images/person.png" />
                </div>
            </div>
            <div class="top-content-section-second">
                <span>no. of</span>
            </div>
        </div>

        <div class="bottom-content">
            <div class="view-more">
                <span>View More</span>
            </div>
        </div>
    </div>
</div>