
@{
    Layout = "/Views/Shared/_ManagerLayout.cshtml";
}

<style>
    .link-dashboard{
        background-color: #747474 !important;
    }
</style>



<div class="dashboard-wrapper">
    <div class="topbox">
        <div class="box first">
            <div class="box-top">
                <div class="box-top-left">
                    <div class="count-text">
                        <div>0</div>
                    </div>
                    <div class="noUser">
                        <div>
                            No. of Users
                        </div>
                    </div>
                </div>
                <div class="box-top-right">

                    <img src="~/images/totalUsers.png" />

                </div>
            </div>

            <div class="box-bottom">
                <div class="box-bottom-view">
                    <span class="view-more">view more</span>
                    <img src="~/images/next-black.png" />
                </div>

            </div>

        </div>
        <div class="box first">
            <div class="box-top">
                <div class="box-top-left">
                    <div class="count-text">
                        <div>0</div>
                    </div>
                    <div class="noUser">
                        <div>
                            No. of Users
                        </div>
                    </div>
                </div>
                <div class="box-top-right">

                    <img src="~/images/totalUsers.png" />

                </div>
            </div>

            <div class="box-bottom">
                <div class="box-bottom-view">
                    <span class="view-more">view more</span>
                    <img src="~/images/next-black.png" />
                </div>

            </div>

        </div>
        <div class="box first">
            <div class="box-top">
                <div class="box-top-left">
                    <div class="count-text">
                        <div>0</div>
                    </div>
                    <div class="noUser">
                        <div>
                            No. of Users
                        </div>
                    </div>
                </div>
                <div class="box-top-right">

                    <img src="~/images/totalUsers.png" />

                </div>
            </div>

            <div class="box-bottom">
                <div class="box-bottom-view">
                    <span class="view-more">view more</span>
                    <img src="~/images/next-black.png" />
                </div>

            </div>

        </div>
        <div class="box first">
            <div class="box-top">
                <div class="box-top-left">
                    <div class="count-text">
                        <div>0</div>
                    </div>
                    <div class="noUser">
                        <div>
                            No. of Users
                        </div>
                    </div>
                </div>
                <div class="box-top-right">

                    <img src="~/images/totalUsers.png" />

                </div>
            </div>

            <div class="box-bottom">
                <div class="box-bottom-view">
                    <span class="view-more">view more</span>
                    <img src="~/images/next-black.png" />
                </div>

            </div>

        </div>
    </div>
    <div class="middlebox">
        <canvas class="saleschart">
        </canvas>
        <div class="productRanking">
            <div class="top3">
                <div class="card">
                    <div class="number place2">2</div>
                    <img src="https://picsum.photos/200/301" alt="Jennie">
                    <div class="name">Jennie</div>
                    <div class="sold">2.5k</div>
                </div>
                <div class="card">
                    <div class="number place1">1</div>
                    <img src="https://picsum.photos/200/300" alt="Mino">
                    <div class="name">Mino</div>
                    <div class="sold">3.8k</div>
                </div>
                <div class="card">
                    <div class="number place3">3</div>
                    <img src="https://picsum.photos/200/302" alt="Vinxen">
                    <div class="name">Vinxen</div>
                    <div class="sold">1.2k</div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottombox">
        <canvas class="saleschart">
        </canvas>

    </div>
</div>
</div>