*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial;
}
.InOutBtn {
    background-color: #11B402;
    color: white;
    
}
.updateIngredientBtn {
    background-color: #1964C5;
    color: white;
}
.addIngredientBtn {
    
    padding: 10px 15px;
    background-color: #693D29;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    border-radius: 20px;
    border: none !important;
    outline: none !important;
    box-shadow: none;
    transition: 0.3s ease-in-out
}

.addCategoryBtn:hover {
    background-color: black;
}

.updateCategoryBtn {
    background-color: #1964C5;
    color: white;
}

.inventory-wrapper {
    position: relative;
    width: 100%;
}


.inventory-table {
    border-collapse: collapse !important;
    border: 1px solid black;
    z-index: 1 !important;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.6);
}

.inventory-table thead {
    background-color: #693D29;
    color: white;
}

.inventory-table thead th {
    text-align: left !important;
}

.inventory-table tr {
    border: 1px solid black !important;
}
.inventory-table th{
    font-size: 0.8rem;
}
.inventory-table tbody {
    background-color: #F7F7F7;
    color: black;
}

.inventory-table tbody td {
    text-align: left !important;
    position: relative;
}

.inventory-table .action-wrapper{
    display: flex;
    justify-content: space-between;
}

.warning-icon-wrapper {        
    padding: 5px;               
}

.warning-icon-wrapper .warning-icon {
    height: 25px;
    width: 25px;
    transition: 0.8s ease-in-out;
    animation: glowing 1s infinite;
}



@media (max-width: 770px) {
    .inventory-table thead {
        display: none;
    }

    .inventory-table {
        outline: none !important;
        border: none !important;
        box-shadow: none !important;
        width: 100%;
        max-width: 550px;
    }

    .inventory-table tbody {
        background-color: transparent !important;
        border: none !important;
        outline: none !important;
    }

    .inventory-table, .inventory-table tbody, .inventory-table tr, .inventory-table td {
        display: block;
        width: 100%;
    }

    .inventory-table tbody td {
        text-align: right !important;
        border: none !important;
        outline: none !important;
       
    }

    .inventory-table tr {
        margin-bottom: 20px;
        border-bottom: 2px solid #ccc;
        padding: 5px;

        border-radius: 10px;
        background-color: #f1f1f1 !important;
      
    }

    .inventory-table td {
        text-align: right;
        padding-left: 50%;
        position: relative;
        padding-top: 15px;
        padding-bottom: 15px;
        border: 1px solid #ccc;
        box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    }

    .inventory-table td:before {
        content: attr(data-label);
        position: absolute;
        left: 0;
       
        padding-left: 10px;
        font-size: 15px;
        font-weight: bold;
        text-align: left;
        
    }

    .inventory-table td .action-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 5px;
        margin-top: 20px;
    }

    .inventory-table td .btn {
        flex: 1;
        margin-top: 5px;
        max-width: 200px;
    }
}



/*Data table Library*/
.dt-search label {
    color: black;
    font-weight: lighter;
}

.dt-search .dt-input {
    border: 1px solid black !important;
}

.dt-length, .dt-info {
    display: none;
}
input::placeholder {
    color: dimgrey;
    font-weight: lighter;
    font-size: 0.9rem;
}

/*Modal*/
#addIngredientModal .modal-content, #updateIngredientModal
.modal-content, #choiceIngredientModal .modal-content,
#stockInIngredientModal .modal-content, #stockOutIngredientModal .modal-content {
    background-color: rgba(197, 172, 148,0.9) !important;
    border-radius: 20px;
    box-shadow: 1px 2px 5px black;
}

#addIngredientModal .modal-header, #updateIngredientModal
.modal-header, #choiceIngredientModal .modal-header,
#stockInIngredientModal .modal-header, #stockOutIngredientModal .modal-header {
    border: none;
}

#addIngredientModal .modal-title, #updateIngredientModal
.modal-title, #choiceIngredientModal .modal-title,
#stockInIngredientModal .modal-title, #stockOutIngredientModal .modal-title {
    width: 100%;
    text-align: center;
    font-weight: bold;
}

#addIngredientModal label, #updateIngredientModal label,
#stockInIngredientModal label, #stockOutIngredientModal label {
    font-weight: bold
}

#addIngredientModal .close, #updateIngredientModal .close,
#choiceIngredientModal .close, #stockInIngredientModal .close, #stockOutIngredientModal .close {
    position: absolute;
    top: 6px;
    right: 10px;
    outline: none;
    transition: 0.5s;
}

#addIngredientModal .close:hover, #updateIngredientModal .close:hover,
#choiceIngredientModal .close:hover, #stockInIngredientModal .close:hover,
#stockOutIngredientModal .close:hover {
    transform: scale(1.2);
}

#addIngredientModal .addIngredientSubmit, #updateIngredientModal .updateIngredientSubmit
, #stockInIngredientModal .stockInIngredientSubmit, #stockOutIngredientModal .stockOutIngredientSubmit  {
    background-color: #693D29;
    border-radius: 20px;
    padding: 10px 30px;
    border: none;
    color: white;
    transition: 0.3s ease-in-out
}

#addIngredientModal .addIngredientSubmit:hover, #updateIngredientModal .updateIngredientSubmit:hover,
#stockInIngredientModal .stockInIngredientSubmit:hover, #stockOutIngredientModal .stockOutIngredientSubmit:hover {
    background-color: black;
    color: white;
}

#choiceIngredientModal .modal-body {
    padding: 60px;
}

#choiceIngredientModal .choices-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#choiceIngredientModal .choices-wrapper button {
    padding: 10px;
    border: none;
    color: white;
    font-weight: bolder;
    background-color: #693D29;
    transition: 0.5s ease-in-out;
    border: 1px solid #693D29
}

#choiceIngredientModal .choices-wrapper button:hover {
    background-color: black;
    transform: scale(1.03)
}

#choiceIngredientModal .modal-title {
    font-size: 2rem;
}

/*SweetAlert Custom Class*/
.custom-icon {
    font-size: 8px !important; 
}

.swal-addIngredient-title {
    font-size: 25px;
    font-weight: bolder !important; 
    color: black !important;
}

.swal-updateIngredient-title {
    font-size: 25px; 
    font-weight: bolder !important; 
    color: black !important;
}

.swal-stockInIngredient-title {
    font-size: 25px;
    font-weight: bolder !important;
    color: black !important;
}

.swal-stockOutIngredient-title {
    font-size: 25px;
    font-weight: bolder !important;
    color: black !important;
}
.belowThreshold{
    color: red;
    font-weight: bolder;
  /*  background-color: rgba(0,0,0,0.1) !important;*/
}





@keyframes glowing {
    0% {
        filter: drop-shadow(0px 0px 0px red);
       
    }

   
    50% {
        filter: drop-shadow(0px 0px 5px red);
      
    }
   
    
    100% {
        filter: drop-shadow(0px 0px 0px red);
        
    }
}
/*
.dt-container > div:first-child {
    display: none !important;
}*/