*, *::after, *::before {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;

}
body {

    padding-top: 90px;
    padding-left: 200px;
    padding-right: 20px;
    background-color: #C5AC94;
    transition: 0.8s;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #923312;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-height: 70px;
    z-index: 999;
    padding: 0px 10px;
}
.header .left-section{
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}
.header .left-section .brand-logo {
}
.header .left-section .brand-logo img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.header .left-section .brand-name{
    color: white;
    margin-left: 15px;
    font-weight: bolder;
    text-wrap: wrap;
    line-height: 19px;
}



.right-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    margin-right: 10px;
}
.header .right-section .checkout-icon {
    display: none;
    margin-right: 30px;
    transition: 0.5s;
}
.header .right-section .checkout-icon:hover {
    transform: scale(1.2);
  
}

.header .right-section .checkout-icon img {
    width: 25px;
    height: 25px;
}

.header .right-section .user {
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}
.header .right-section .user .name-user{
    color: white;
    font-weight: lighter;
}
.header .right-section .user .user-icon img {
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
}
/*
header .brand {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

header .brand .brand-logo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid white;
}

header .brand .brand-name {
    font-size: 0.6rem;
    margin-left: 5px;
    font-weight: bolder;
    color: white;
}

header .header-links {
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

header .header-links .profile {
    width: 25px;
    height: 25px;
    background-color: rgb(219, 215, 215);
    display: flex;
    justify-content: center;
    border-radius: 50%;
    align-items: center;
}

header .header-links .profile-icon {
    width: 15px;
    height: 15px;
}

header .header-links button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid grey;
}

header .header-links .button-logout-icon {
    width: 10px;
    height: 10px;
}

header .header-links .button-logout-text {
    font-size: 0.5rem;
    margin-left: 3px;
}*/
.sidebar {
    background-color: #9E7148;
    width: 180px;
    position: fixed;
    top: 70px;
    left: 0;
    height: 100%;
    transition: 0.8s;
}

.sidebar .sidebar-toggler {

    position: absolute;
    width: 15px;
    height: 15px;
    top: 50%;
    right: -7px;
    background-color: #B5875D;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: 0.8s;

}

.sidebar ul {

    height: 100%;
    list-style: none;

}

.sidebar ul li {

    padding: 5px 15px;
    
}

.sidebar ul li a .sidebar-link-img {

    width: 15px;
    height: 15px;
    margin-left: 5px;

}

.sidebar ul li a .sidebar-link-name {
    margin-left: 10px;
    font-size: 10px;
    font-weight: bolder;
    text-wrap: nowrap;
}

.sidebar ul li a {

    position: relative;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: start;
    padding: 10px 5px;
    align-items: center;
    background-color: #A37D5A;
    width: 100%;

}

.sidebar ul li a:hover {

    background-color: #C6976C;

}

.sidebar ul ul {

    display: none;
    position: static;
    margin-top: 5px;

}

.sidebar ul ul li a {

    font-size: 0.6rem;
    display: block;
    text-align: center;
    font-weight: lighter;
    text-wrap: nowrap;

}

.sidebarlink-inventory-toggler {

    position: absolute;
    width: 10px;
    height: 10px;
    top: 37%;
    right: 5px;  
    transform: rotate(270deg);
    transition: 0.5s;

}

