*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header .right-section .checkout-icon{
    display: none;
}

.product-wrapper {
    position: relative;
}

/*add product button*/
.addProductBtn {
    position: absolute;
    cursor: pointer;
    z-index: 100;
    top: 0;
    left: 0;
    padding: 10px 15px;
    background-color: #693D29;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    transition: 0.3s ease-in-out
}

.addProductBtn:hover{
    background-color: black;
}

/*Product Table*/
.product-table {
    width: 100%;
    overflow: scroll;
    border: 1px solid black;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.6);
}

.product-table tr, th, td {
    border: 1px solid black;
}

.product-table th {
    padding: 5px;
    color: white;
    text-align: left !important;
    background-color: #693D29;
}

.product-table tbody {
    background-color: #F7F7F7;
    color: black;
}

.product-table td {
    text-align: left !important;
}

/*Data table library*/
.dt-search label {
    color: black;
    font-weight: lighter;
}

.dt-search .dt-input {
    border: 1px solid black !important;
}

.dt-length, .dt-info {
    display: none;
}

/*Product Modal*/
#addProductModal .modal-content, #updateProductModal .modal-content {
    background-color: rgba(197, 172, 148,0.9) !important;
    border-radius: 20px;
    box-shadow: 1px 2px 5px black;
}

#addProductModal .modal-header, #updateProductModal .modal-header {
    border: none;
}

#addProductModal .modal-title, #updateProductModal .modal-title {
    width: 100%;
    text-align: center;
    font-weight: bold;
}

#addProductModal label, #updateProductModal label {
    font-weight: bold
}

#addProductModal .close, #updateProductModal .close {
    position: absolute;
    top: 6px;
    right: 10px;
    outline: none;
    transition: 0.5s;
}

#addProductModal .close:hover, #updateProductModal .close:hover {
    transform: scale(1.2);
}

#addProductModal .addProductSubmit, #updateProductModal .updateProductSubmit {
    background-color: #693D29;
    border-radius: 20px;
    padding: 10px 30px;
    border: none;
    color: white;
    transition: 0.3s ease-in-out
}

#addProductModal .addProductSubmit:hover, #updateProductModal .updateProductSubmit:hover {
    background-color: black;
    color: white;
}
.photo-wrapper{
    width: 100px;
    height: 80px;
    border: 1px solid black;
    background-color: transparent;
}
.photo-wrapper img {
    object-fit: cover;
    width: 100px;
    height: 80px;
}

.productPhoto{
    width: 40px;
    height: 40px;
}

.updateProductBtn {
    background-color: #1964C5;
    color: white;
}

.archiveBtn, .unarchiveBtn {
    background-color: #F71F1F;
    color: white;
}

.action-wrapper{
   
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

input::placeholder {
    color: dimgrey;
    font-weight: lighter;
    font-size: 0.9rem;
}

/*sweetaker custom class*/
.custom-icon {
    font-size: 8px !important; 
}

.swal-archive-title {
    font-size: 25px ; 
    font-weight: bolder !important; 
    color: black !important;
}

.swal-archive-title::after{
    content: "(Product will not be available for sale)";
    font-weight: lighter;
    color: grey;
    font-size: 0.9rem;
    white-space: pre-wrap
}

.swal-unarchive-title {
    font-size: 25px; 
    font-weight: bolder !important; 
    color: black !important;
}

.swal-unarchive-title::after {
    content: "(Product will be available for sale)";
    font-weight: lighter;
    color: grey;
    font-size: 0.9rem;
    white-space: pre-wrap
}

.swal-addProd-title {
    font-size: 25px; 
    font-weight: bolder !important; 
    color: black !important;
}

.swal-updateProd-title {
    font-size: 25px; 
    font-weight: bolder !important; 
    color: black !important;
}

.archived-product {
    background-color: rgba(0,0,0,0.2) !important; 
}