*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header .right-section .checkout-icon{
    display: none;
}

.product-wrapper {
    position: relative;
}


.addProductBtn {
    cursor: pointer;
    padding: 10px 15px;
    background-color: #693D29;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    transition: 0.3s ease-in-out
}

.addProductBtn:hover{
    background-color: black;
}



.product-table {
    border-collapse: collapse !important;
    border: 1px solid black;
    z-index: 1 !important;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.6);
}
.product-table thead {
    background-color: #693D29;
    color: white;     
}  

.product-table thead th {
    text-align: left !important;
}
.product-table tr {
    border: 1px solid black !important;
}

.product-table tbody {
    background-color: #F7F7F7;
    color: black;
}
.product-table tbody td{
 
    text-align: left !important;
}

/*Responsive table */
 
@media (max-width: 770px) {
    .product-table thead {
        display: none;
    }
    .product-table{
        width: 100%;
        max-width: 550px;

        outline: none !important;
        border: none !important;
        box-shadow: none !important; 
    }

    .product-table tbody {
        background-color: transparent !important;
        border: none !important;
        outline: none !important;
    }

    .product-table, .product-table tbody, .product-table tr, .product-table td {
        display: block;
        width: 100%;
    }
    .product-table tbody td {
        text-align: right !important;
        border: none !important;
        outline: none !important;
    }
    .product-table tr {
        margin-bottom: 20px;  
        border-bottom: 2px solid #ccc;
        padding: 5px;
        border-radius: 10px; 
       
        background-color: #f1f1f1 !important;  
    }

    .product-table td {
        text-align: right;
        padding-left: 50%;     
        position: relative;
        padding-top: 15px;
        padding-bottom: 15px;
        border: 1px solid #ccc; 
        box-shadow: 0 1px 3px rgba(0,0,0,0.1);  
    }

    .product-table td:before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 10px;
        font-size: 15px;
        font-weight: bold;
        text-align: left;
    }
    .product-table td .action-wrapper {
        display: flex;
        flex-wrap: wrap; 
        gap: 5px;  
        margin-top: 20px;
    }

    .product-table td .btn {
        flex: 1;
        margin-top: 5px;
        max-width: 200px;
       
    }

}


/*Data table library*/
.dt-search label {
    color: black;
    font-weight: lighter;
}

.dt-search .dt-input {
    border: 1px solid black !important;
}

.dt-length, .dt-info {
    display: none;
}

/*Product Modal*/
#addProductModal .modal-content, #updateProductModal .modal-content {
    background-color: rgba(197, 172, 148,0.9) !important;
    border-radius: 20px;
    box-shadow: 1px 2px 5px black;
}

#addProductModal .modal-header, #updateProductModal .modal-header {
    border: none;
}

#addProductModal .modal-title, #updateProductModal .modal-title {
    width: 100%;
    text-align: center;
    font-weight: bold;
}

#addProductModal label, #updateProductModal label {
    font-weight: bold
}

#addProductModal .close, #updateProductModal .close {
    position: absolute;
    top: 6px;
    right: 10px;
    outline: none;
    transition: 0.5s;
}

#addProductModal .close:hover, #updateProductModal .close:hover {
    transform: scale(1.2);
}

#addProductModal .addProductSubmit, #updateProductModal .updateProductSubmit {
    background-color: #693D29;
    border-radius: 20px;
    padding: 10px 30px;
    border: none;
    color: white;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

#addProductModal .addProductSubmit:hover, #updateProductModal .updateProductSubmit:hover {
    background-color: black;
    color: white;
}
.photo-wrapper{
    width: 100px;
    height: 80px;
    border: 1px solid black;
    background-color: transparent;
}
.photo-wrapper img {
    object-fit: cover;
    width: 100px;
    height: 80px;
}

.productPhoto{
    width: 40px;
    height: 40px;
}

.updateProductBtn {
    background-color: #1964C5;
    color: white;
}

.archiveBtn, .unarchiveBtn {
    background-color: #F71F1F;
    color: white;
}
input::placeholder {
    color: dimgrey;
    font-weight: lighter;
    font-size: 0.9rem;
}

/*sweetalert custom class*/
.custom-icon {
    font-size: 8px !important; 
}

.swal-archive-title {
    font-size: 25px ; 
    font-weight: bolder !important; 
    color: black !important;
}

.swal-archive-title::after{
    content: "This product will not be available for sale";
    font-weight: lighter;
    color: grey;
    font-size: 0.9rem;
    white-space: pre-wrap
}

.swal-unarchive-title {
    font-size: 25px; 
    font-weight: bolder !important; 
    color: black !important;
}

.swal-unarchive-title::after {
    content: "This product will be available for sale";
    font-weight: lighter;
    color: grey;
    font-size: 0.9rem;
    white-space: pre-wrap
}

.swal-addProd-title {
    font-size: 25px; 
    font-weight: bolder !important; 
    color: black !important;
}

.swal-updateProd-title {
    font-size: 25px; 
    font-weight: bolder !important; 
    color: black !important;
}

.archived-product {
    background-color: rgba(0,0,0,0.2) !important; 
}