*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
}
.report-header {
    padding: 10px;
    width: 100%;
    background-color: #693D29;
    border: 1px solid black;
    border-radius: 5px;
    gap: 5px;
}
.report-header form{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    color: white;

    gap: 10px;
}
.report-header form label{
    font-weight: bolder;
}
input {
    border-radius: 5px;
    padding: 5px;
    border: none;   
}
.selectReportType,.selectFilter{
    padding: 10px;
    border-radius: 5px;
}
.generateReportBtn {
    padding: 6px 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    margin-left: 5px;
}


#bar{
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
   
    overflow-x: auto;
}

#bar{
    max-width: 90%;
    display: block;
    margin: auto;
    height: 450px !important;
    overflow-x: scroll;
}