*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    padding-top: 90px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #C5AC94;
    transition: 0.8s;
}

/*Header*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #923312;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-height: 70px;
    z-index: 999;
    padding: 0px 10px;
}

.header .left-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.header .left-section .brand-logo img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.header .left-section .brand-name {
    color: white;
    margin-left: 15px;
    font-weight: bolder;
    text-wrap: wrap;
    line-height: 19px;
}

.right-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    margin-right: 10px;
}

.header .right-section .logout-link a {
    color: white;
}

.header .right-section .checkout-icon {
    display: none;
    transition: 0.5s;
}

.header .right-section .checkout-icon:hover {
    transform: scale(1.2);
}

.header .right-section .checkout-icon img {
    width: 25px;
    height: 25px;
}

.header .right-section .user {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.header .right-section .user .name-user {
    color: white;
    font-weight: lighter;
}

.header .right-section .user .user-icon img {
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
}
