/**, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.checkout-wrapper {
    position: fixed;
    top: 80px;
    right: 10px;
    bottom: 10px;
    background-color: #F1DCC8;
    width: 320px;
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 1px 1px 5px grey;
    z-index: 990;
}

.checkout-wrapper .checkout-content-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.checkHide {
    display: none;
}

.checkout-title {
    text-align: center;
    color: black;
    margin: 0;
    font-weight: bold;
    font-size: 2rem;
    flex-grow: 0;
    padding: 10px;
}

.checkout-table-wrapper {
    flex-grow: 1;
    overflow-y: auto;
}


.checkout-footer {
    background-color: rgba(0,0,0,0.1);
    border-top: 1px solid black;
}

.checkout-table-wrapper::-webkit-scrollbar {
    width: 4px;
}

.checkout-table-wrapper::-webkit-scrollbar-track {
    background: #F1DCC8;
}

.checkout-table-wrapper::-webkit-scrollbar-thumb {
    background-color: black;
}

.checkout-table-wrapper::-webkit-scrollbar-thumb:hover {
    background-color: white;
}

.discount-wrapper {
    width: 100%;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0px 5px;
}

.discount-wrapper label {
    margin-top: 7px;
}

.discount-wrapper input {
    width: 35px;
    height: 20px;
}

.tax-wrapper {
    width: 100%;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 5px 5px;
}

.subtotal-wrapper {
    padding: 5px 5px;
    width: 100%;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row
}

.totalamount-wrapper {
    width: 100%;*/
    /*  background-color: #F1DCC8;*/

    /*padding: 10px 5px;
    margin: 0;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row
}

.checkout-footer .checkout-btn {*/
    /*  background-color: #F1DCC8;  */
    /*width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5px;
    padding: 5px;
}

.checkout-footer .checkout-btn button {
    padding: 10px;
    background-color: #693D29;
    color: white;
    border: none;
    outline: none;
    font-size: 0.8rem;
    border-radius: 2px;
    letter-spacing: 1px;
    font-weight: bolder;
}

.checkout-footer .checkout-btn .payBtn {
    flex: 1;
}

.table-header {
    display: flex;
    justify-content: space-between;
    background-color: #693D29;
    padding: 5px 0px;
    color: white;
    font-weight: bolder;
}


#inputDiscount {
    text-align: center;
}

.checkout-table th {
    border: none;
}

.checkout-table {
    width: 100%
}

.checkout-table tbody tr:hover {
    background-color: rgba(0,0,0,0.1);
}

.checkout-table tbody tr td {
    font-size: 0.8rem;
}

.checkout-table, th, td {
    border: none !important;
}

.checkout-table tr {
    border-bottom: 1px solid grey;
}

.checkout-table thead {
    background-color: #693D29;
    color: white;
}

.checkout-table th {
    padding: 5px 0px;
}

.checkout-table td {
    padding: 10px 0px;
}

.delete-checkout-img {
    width: 12px;
    height: 12px;
    transition: 0.4s;
    cursor: pointer;
}

.delete-checkout-img:hover {
    animation: shake 0.5s ease-in-out infinite;
    transform: scale(1.2);
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    10% {
        transform: translateX(-1px);
    }

    20% {
        transform: translateX(1px);
    }

    30% {
        transform: translateX(-1px);
    }

    40% {
        transform: translateX(1px);
    }

    50% {
        transform: translateX(-1px);
    }

    60% {
        transform: translateX(1px);
    }

    70% {
        transform: translateX(-1px);
    }

    80% {
        transform: translateX(1px);
    }

    90% {
        transform: translateX(-1px);
    }

    100% {
        transform: translateX(0px);
    }
}

.table-header-name {
    text-align: left;
}

.table-header-price {
    text-align: right;
}

.table-header-quantity {
    text-align: center;
}

.table-data-name {
    text-align: left;
}

.table-data-quantity {
    text-align: center;
}

.table-data-price {
    text-align: right;
}

.quantity-table-data {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5px;
}

.quantity-table-data .button {
    border-radius: 50%;
    cursor: pointer;
    background-color: white;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.quantity-table-data span img {
    height: 8px;
    width: 8px;
}

.product-list-wrapper {
    border-radius: 5px;
    width: 100%;
}

.search-wrapper {
    margin-bottom: 20px;
}


.search-wrapper .searchProd label img {
    width: 20px;
    height: 20px;
    margin-top: 5px;
}

.search-wrapper .searchProd {
    max-width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 0px 10px;
    gap: 5px;
    background-color: #E7E2E2;
}

.search-wrapper .searchProd input {
    width: 100%;
    background-color: transparent;
    border: none !important;
    outline: none !important;
    box-shadow: none;
    padding: 5px
}

.category-list-wrapper {
    margin-top: 10px;
    background-color: #693D29;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px 5px;
    padding: 5px 0px;
}

.category-list-wrapper .category-item {
    background-color: #693D29;
    color: white;
    border: 2px solid transparent;
    transition: 0.5s ease-in;
    padding: 5px;
    font-size: 1em;
    outline: none;
    cursor: pointer
}

.category-list-wrapper .active {
    border-bottom-color: white;
}

.category-list-wrapper .category-item:hover {
    border-bottom-color: white;
}

.product-catalog {
    position: relative;
    width: 100%;
    margin-top: 10px;
    padding: 10px 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px,1fr));
    gap: 20px 40px;
}

.product-item {
    border: 1px solid transparent;
    min-height: 180px;
    transition: 0.5s;
    cursor: pointer;
}

    .product-item:hover {
        transform: scale(1.02);
    }

.product-item-img {
    width: 100%;
    border: 1px solid grey;
    background-color: black;
    height: 90%;
    z-index: 1 !important;
}

.product-catalog .product-item .product-item-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.product-item-name {
    background-color: transparent !important;
    text-align: center;
    font-weight: bolder;
    font-size: 1rem;
    height: 10%;
}

.product-item-name span {
    background-color: transparent !important;
}

#paymentModal .submitFormBtn {
    background-color: #693D29;
    border-radius: 20px;
    padding: 10px 30px;
    border: none;
    color: white;
}

input::placeholder {
    color: dimgrey;
    font-weight: lighter;
    font-size: 0.9rem;
}

#paymentModal .submitFormBtn:hover {
    background-color: black;
    color: white;
}

#paymentModal .modal-content {
    background-color: rgba(197, 172, 148,0.9) !important;
    border-radius: 20px;
    box-shadow: 1px 2px 5px black;
}

#paymentModal .modal-header {
    border: none;
}

#paymentModal .modal-title {
    width: 100%;
    text-align: center;
    font-weight: bold;
}

#paymentModal label {
    font-weight: bold;
}

#paymentModal .close {
    position: absolute;
    top: 6px;
    right: 10px;
    outline: none;
    transition: 0.5s;
}

#paymentModal .close:hover {
    transform: scale(1.2);
}

#paymentModal .calculateBtn {
    display: none;
    background-color: #693D29;
    border-radius: 20px;
    padding: 10px 30px;
    border: none;
    color: white;
    transition: 0.5s;
}

#paymentModal .payComplete:hover {
    background-color: black
}

.noResult {
    position: absolute;
    width: 100%;
    display: none;
    font-size: 1.2rem;
    font-weight: lighter;
    text-align: center;
    margin-top: 5px;
}

.receipt {
    display: none;
    position: fixed;
    padding: 10px;
    border: 1px solid black;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 290px;
}

.receipt .receipt-content {
    text-align: center;
    padding: 10px;
    height: 100%;
}

.receipt hr {
    border: 1px dashed black;
}

.receipt .footer {
    letter-spacing: 2px;
    text-align: center;
    margin-top: 10px;
    white-space: nowrap;
}

.receipt-header {
    line-height: 10px;
}

    .receipt-header .name {
        font-size: 1.5rem;
    }

.receipt .receipt-content .receipt-calculation {
    line-height: 10px;
}

.receipt-calculation .discount, .tax, .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.receipt .receipt-content .receipt-change {
    line-height: 10px;
}

.receipt-change .cash, .change {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.showReceipt {
    display: block;
}


.receipt-items .item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-weight: bold;
}

.receipt-items .item-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-size: 0.8em;
}*/

/*SweetAlert Custom Class*/
/*.custom-icon {
    font-size: 8px !important;
}

.swal-sales-title {
    font-size: 30px;
    font-weight: bolder !important;
    color: black !important;
}

.swal-sales-title::after {
    content: "Cannot be undone";
    font-weight: lighter;
    color: grey;
    font-size: 0.9rem;
}

.swal-salesCancel-title {
    font-size: 30px;
    font-weight: bolder !important;
    color: black !important;
}
.swal-salesCancel-title::after {
    content: "Cannot be undone";
    font-weight: lighter;
    color: grey;
    font-size: 0.9rem;
}*/
    /*Window Print*/
/*@media print {
    body * {
        visibility: hidden;
    }

    .receipt, .receipt * {
        visibility: visible;
    }

    .receipt {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 400px;
    }
}

.exitCheckout {
    height: 15px;
    width: 15px;
    position: absolute;
    top: 1px;
    right: 1px;
    border-radius: 50%;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

    .exitCheckout:hover {
        transform: scale(1.5)
    }

@media (max-width: 768px) {
    .product-list-wrapper {
        width: 100% !important;
    }

    .checkout-wrapper {
        position: fixed;
        top: 50%;
        left: 50%;
        max-height: 450px;
        height: 100%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
    }
}*/
