
@{
    Layout = "/Views/Shared/_ManagerLayout.cshtml";
}
<style>
    .link-salesreport {
        background-color: #C6976C !important;
    }
</style>

<div class="report-header">
    <form asp-action="Index" method="post" id="salesReportForm">
        <div class="transactionType-wrapper">
            <label>Report Type</label>
            <select class="selectTransactionType" name="transactionType">
                <option selected disabled hidden>Select a type</option>
                <option value="Sales">Sales Report</option>
                <option value="Inventory">Inventory Report</option>
            </select>
            <label>From</label>
            <input type="date" class="fromDate" name="fromDate" />
            <label>To</label>
            <input type="date" class="toDate" name="toDate" />
        </div>
        <button type="button" class="generateReportBtn">Generate</button>
    </form>
</div>
 <br/>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
    <h1>@TempData["SalesFilter"]</h1>
    <br />
    <div class="bar-wrapper">
        <canvas id="bar"></canvas>
    </div>
 


<br /> <br />
