*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial;
}

.updateIngredientBtn {
    background-color: #1964C5;
    color: white;
}
.addIngredientBtn, .stockInBtn, .stockOutBtn, .requestIngredientBtn {
    padding: 10px 15px;
    cursor: pointer;
    background-color: #693D29;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    border-radius: 20px;
    border: none !important;
    outline: none !important;
    box-shadow: none;
    transition: 0.3s ease-in-out
}

.addCategoryBtn:hover {
    background-color: black;
}

.updateCategoryBtn {
    background-color: #1964C5;
    color: white;
}

.inventory-wrapper {
    position: relative;
    width: 100%;
}


.inventory-table {
    border-collapse: collapse !important;
    border: 1px solid black;
    z-index: 1 !important;
    transition: 0.5s ease-in-out;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.6);
}

.inventory-table thead {
    background-color: #693D29;
    color: white;
}

.inventory-table thead th {
    text-align: left !important;
}

.inventory-table tbody tr {
    cursor: pointer;
    border: 1px solid black !important;
}
    .inventory-table tbody tr:hover{
        background-color: rgba(0,0,0,0.1);

    }
    .inventory-table th {
        font-size: 0.8rem;
    }
.inventory-table tbody {
    background-color: #F7F7F7;
    color: black;
}

.inventory-table tbody td {
    text-align: left !important;
    position: relative;
}

.inventory-table .action-wrapper{
    display: flex;
    justify-content: space-between;
}

.warning-icon-wrapper {        
    padding: 5px;               
}

.warning-icon-wrapper .warning-icon {
    height: 25px;
    width: 25px;
    transition: 0.8s ease-in-out;
    animation: glowing 1s infinite;
}



@media (max-width: 770px) {
    .inventory-table thead {
        display: none;
    }
    .inventory-wrapper {
        width: 100% !important;
    }

    .inventory-table {
        outline: none !important;
        border: none !important;
        box-shadow: none !important;
        width: 100% ;
        max-width: 550px;
    }

    .inventory-table tbody {
        background-color: transparent !important;
        border: none !important;
        outline: none !important;
    }

    .inventory-table, .inventory-table tbody, .inventory-table tr, .inventory-table td {
        display: block;
        width: 100%;
    }

    .inventory-table tbody td {
        text-align: right !important;
        border: none !important;
        outline: none !important;
       
    }

    .inventory-table tr {
        margin-bottom: 20px;
        border-bottom: 2px solid #ccc;
        padding: 5px;

        border-radius: 10px;
        background-color: #f1f1f1 !important;
      
    }

    .inventory-table td {
        text-align: right;
        padding-left: 50%;
        position: relative;
        padding-top: 15px;
        padding-bottom: 15px;
        border: 1px solid #ccc;
        box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    }

      

    .inventory-table td:before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        padding-left: 10px;
        font-size: 15px;
        font-weight: bold;
        text-align: left;
    }

    .inventory-table td .action-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 5px;
        margin-top: 20px;
    }

    .inventory-table td .btn {
        flex: 1;
        margin-top: 5px;
        max-width: 200px;
    }
}



/*Data table Library*/
.dt-search label {
    color: black;
    font-weight: lighter;
}

.dt-search .dt-input {
    border: 1px solid black !important;
}

.dt-length, .dt-info {
    display: none;
}
input::placeholder {
    color: dimgrey;
    font-weight: lighter;
    font-size: 0.9rem;
}

/*Modal*/
#addIngredientModal .modal-content, #updateIngredientModal
.modal-content, #processDetailsModal .modal-content {
    background-color: rgba(197, 172, 148,0.9) !important;
    border-radius: 20px;
    box-shadow: 1px 2px 5px black;
}

#addIngredientModal .modal-header, #updateIngredientModal
.modal-header, #processDetailsModal .modal-header {
    border: none;
}

#addIngredientModal .modal-title, #updateIngredientModal
.modal-title, #processDetailsModal .modal-title {
    width: 100%;
    text-align: center;
    font-weight: bold;
}

#addIngredientModal label, #updateIngredientModal label,
 #processDetailsModal label {
    font-weight: bold
}

#addIngredientModal .close, #updateIngredientModal .close,
#choiceIngredientModal .close, #processDetailsModal .close {
    position: absolute;
    top: 6px;
    right: 10px;
    outline: none;
    transition: 0.5s;
}

    #addIngredientModal .close:hover, #updateIngredientModal .close:hover,
    #choiceIngredientModal .close:hover, #processDetailsModal .close:hover {
        transform: scale(1.2);
    }

#addIngredientModal .addIngredientSubmit, #updateIngredientModal .updateIngredientSubmit,
#processDetailsModal .processSubmit {
    background-color: #693D29;
    border-radius: 20px;
    padding: 10px 30px;
    border: none;
    color: white;
    transition: 0.3s ease-in-out
}

    #addIngredientModal .addIngredientSubmit:hover, #updateIngredientModal .updateIngredientSubmit:hover,
    #processDetailsModal .processSubmit:hover {
        background-color: black;
        color: white;
    }



/*SweetAlert Custom Class*/
.custom-icon {
    font-size: 8px !important; 
}

.swal-addIngredient-title {
    font-size: 25px;
    font-weight: bolder !important; 
    color: black !important;
}

.swal-updateIngredient-title {
    font-size: 25px; 
    font-weight: bolder !important; 
    color: black !important;
}

.swal-stockInIngredient-title {
    font-size: 25px;
    font-weight: bolder !important;
    color: black !important;
}

.swal-stockOutIngredient-title {
    font-size: 25px;
    font-weight: bolder !important;
    color: black !important;
}
/*.belowThreshold{
    color: red;
    font-weight: bolder;*/
  /*  background-color: rgba(0,0,0,0.1) !important;*/
/*}*/





@keyframes glowing {
    0% {
        filter: drop-shadow(0px 0px 0px red);
       
    }

   
    50% {
        filter: drop-shadow(0px 0px 5px red);
      
    }
   
    
    100% {
        filter: drop-shadow(0px 0px 0px red);
        
    }
}
.exitIngredientList {
    cursor: pointer;
    height: 15px;
    width: 15px;
    position: absolute;
    top: 1px;
    right: 1px;
    border-radius: 50%;
    transition: 0.5s ease-in-out
}
    .exitIngredientList:hover{
        transform: scale(1.5)
    }

    .ingredient-list-wrapper {
        position: fixed;
        top: 80px;
        right: 10px;
        background-color: #F1DCC8;
        width: 300px;
        display: flex;
        justify-content: space-between;
        align-content: center;
        flex-direction: column;
        border: 1px solid grey;
        border-radius: 5px;
        box-shadow: 1px 1px 5px grey;
        z-index: 990
    }
.closeIngredientList {
    display: none;
}
.ingredient-list-header {
    text-align: center;
    color: black;
    margin: 0;
    font-weight: bold;
    font-size: 2rem;
    flex-grow: 0;
    padding: 5px 0px;
}
.ingredient-list-wrapper .ingredient-list-th {
    display: flex;
    justify-content: space-between;
    background-color: #693D29;
    padding: 5px 0px;
    color: white;
    font-weight: bolder;
}


    .ingredient-list-wrapper .ingredient-list-th .th-delete {
        flex: 1;
    }
    .ingredient-list-wrapper .ingredient-list-th .th-name {
        flex: 2;
    }
    .ingredient-list-wrapper .ingredient-list-th .th-quantity {
        flex: 2;
        text-align: left;
    }
.quantityInput {
    width: 50%;
    text-align: center;
}
.ingredient-list-table-wrapper {
    flex-grow: 1;
    overflow-y: auto;
    height: 180px;

}

.ingredient-list-footer {
    background-color: rgba(0,0,0,0.1);
    border-top: 1px solid black;
    padding: 10px;
}
.ingredient-list-footer .processIngredientListBtn {
    margin-top: 5px;
    padding: 10px;
    background-color: #693D29;
    color: white;
    border: none;
    outline: none;
    font-size: 0.8rem;
    border-radius: 5px;
    letter-spacing: 1px;
    font-weight: bolder;
}

.ingredient-list-table {
    width: 100%;
}
.ingredient-list-table tbody tr td {
    font-size: 0.8rem;
}

    .ingredient-list-table td {
        border: none;
        padding: 10px;
    }

    .ingredient-list-table tr {
        border-bottom: 1px solid grey;
    }
.ingredient-list-table-wrapper::-webkit-scrollbar, .process-detail-table-wrapper::-webkit-scrollbar{
    width: 4px;
}

.ingredient-list-table-wrapper::-webkit-scrollbar-track, .process-detail-table-wrapper::-webkit-scrollbar-track {
    background: #F1DCC8;
}

.ingredient-list-table-wrapper::-webkit-scrollbar-thumb, .process-detail-table-wrapper::-webkit-scrollbar-thumb {
    background-color: black;
}

.ingredient-list-table-wrapper::-webkit-scrollbar-thumb:hover, .process-detail-table-wrapper::-webkit-scrollbar-thumb:hover {
    background-color: white;
}

.delete-ingredient-img {
    width: 12px;
    height: 12px;
    transition: 0.4s;
    cursor: pointer;
}

.table-data-name {
    text-align: left;
}

.table-data-quantity {
    text-align: center;
}


.quantity-table-data {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5px;
}

    .quantity-table-data .button {
        border-radius: 50%;
        background-color: white;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }

    .quantity-table-data span img {
        height: 8px;
        width: 8px;
    }


@media (max-width: 768px) {


    .ingredient-list-wrapper {
        position: fixed;
        top: 50%;
        left: 50%;
        max-height: 450px;
        height: 100%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
    }
}

.custom-icon {
    font-size: 8px !important;
}

.swal-stockOutInsufficient-title {
    font-size: 25px;
    font-weight: bolder !important;
    color: black !important;
}
.swal-stockOutInsufficient-title:after {
    content: "The following ingredients are:";
    font-weight: lighter;
    color: grey;
    font-size: 0.9rem;
}

.swal-stockOutInsufficient-html {
    list-style: none;
    font-weight: lighter;
    color: grey;
    font-size: 0.9rem;
}

.select-process-wrapper{
   
    display: flex;
    flex-direction: column;
    
}
.select-process-wrapper label{
    padding: 0;
    margin: 0;
}
.selectProcess {
    padding: 5px;
}


#processDetailsModal .process-detail-header {
    display: flex;
    justify-content: space-evenly;
    background-color: #693D29;
    padding: 5px;
    color: white;
    font-weight: bold;
}

#processDetailsModal .process-detail-table-wrapper {
    width: 100%;
    border: 1px solid black;
    height: 200px;
    overflow-y: auto;
    background-color: #F1DCC8;
}
.process-detail-table{
    width: 100%;
}

.select-remarks-wrapper {
    display: none;
}