*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial;
}

.stock-movement-header {
    padding: 10px;
    width: 100%;
    background-color: #693D29;
    border: 1px solid black;
    border-radius: 5px;
    gap: 5px;
}

.stock-movement-header form {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    color: white;
    gap: 10px;
}

.selectTransactionType {

    padding: 10px;
    border-radius: 5px;
}
 
.stock-movement-header form label {
    font-weight: bolder;
}

.stock-movement-header input {
    border-radius: 5px;
    padding: 5px;
    border: none;
}

.generateRecordBtn {
    cursor: pointer;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    margin-left: 5px;
}

.stock-movement-wrapper {
    display: none;
}

.stock-movement-table {
    border-collapse: collapse !important;
    border: 1px solid black;
    z-index: 1 !important;
    transition: 0.5s ease-in-out;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.6);
}

.stock-movement-table thead {
    background-color: #693D29;
    color: white;
}

    .stock-movement-table thead th {
        text-align: left !important;
    }

.stock-movement-table tbody tr {
   
    border: 1px solid black !important;
}

    .stock-movement-table tbody tr:hover {
        background-color: rgba(0,0,0,0.1);
    }

.stock-movement-table th {
    font-size: 0.8rem;
}

.stock-movement-table tbody {
    background-color: #F7F7F7;
    color: black;
}

.stock-movement-table tbody td {
    text-align: left !important;
    position: relative;
}



