@model POS_CapstoneProject_.Models.Category
@{
    Layout = "/Views/Shared/_ManagerLayout.cshtml";

}
<style>
    .link-category {
        background-color: #C6976C !important;
    }
</style>

 <!--Wrapper-->
<div class="category-wrapper">
    <button type="button" class="addCategoryBtn" data-toggle="modal" data-target="#addCategoryModal" >Add Category</button>
    <!--Category Table-->
    <table class="category-table">

        <thead>
            <tr>
                <th>ID</th>          
                <th>Category Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>           
            @foreach (var item in ViewData["CategoryList"] as List<Category>)
            {
                <tr>
                    <td>@item.CategoryId</td>                  
                    <td>@item.CategoryName</td>
                    <td>
                        <button class="btn updateCategoryBtn d-block mx-auto" data-toggle="modal" data-target="#updateCategoryModal" onclick="updateCategory(@item.CategoryId,'@item.CategoryName')" type="button">Update</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<!--Add New Category-->
<div class="modal fade" id="addCategoryModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ADD CATEGORY</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
          
            <br />
            <div class="modal-body">
                <form asp-action="AddCategory" id="addForm" asp-controller="CategoryMenu" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="CategoryName" class="control-label">Category Name</label>
                        <input asp-for="CategoryName" onkeydown="pressEnterAdd(event)" class="form-control addInputName" placeholder="Enter Category Name" required />
                        <span asp-validation-for="CategoryName" class="text-danger"></span>
                    </div>
                   
                    <br />
                    <div class="form-group">
                        <button type="button" class="d-block mx-auto addSubmitBtn" >ADD</button>
                    </div>
                </form>
            </div>
          
        </div>
    </div>
</div>

<!--Update Category-->
 <div class="modal fade" id="updateCategoryModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">UPDATE CATEGORY</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
             <br />
            
            <div class="modal-body">
                <form asp-action="UpdateCategory" id="updateForm" method="post">
                   
                    <input asp-for="CategoryId" class="form-control input-id" hidden/>
                    <div class="form-group">
                        <label asp-for="CategoryName" class="control-label">Category Name</label>
                        <input asp-for="CategoryName" onkeydown="pressEnterUpdate(event)" placeholder="Enter Category Name" class="form-control updateInputName" required />
                        
                    </div>

                    <br />

                    <div class="form-group">
                        <button type="button" class="d-block mx-auto updateSubmitBtn">UPDATE</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
 
<!--Pop Up Error Message if Category already exist-->
@if (TempData["CategoryExist"] != null)
{
    <script>

        Swal.fire({
            text: "Category already exists",
            icon: "warning",
            showConfirmButton: false,
            timer: 2000
        });
       
    </script>

}

<!--Pop up message when new category has been added-->
@if (TempData["AddedCategory"] != null)
{
    <script>
        Swal.fire({
            text: "New category added",
            icon: "success",
            showConfirmButton: false,
            timer: 2000
        });

    </script>

}
<!--Pop up message when category has been update-->
@if (TempData["UpdatedCategory"] != null)
{
    <script>
        Swal.fire({
            text: "Category updated",
            icon: "success",
            showConfirmButton: false,
            timer: 2000
        });

    </script>

}




 
                     