@model POS_CapstoneProject_.Models.User

@{
    Layout =  "/Views/Shared/_AuthLayout.cshtml";
}


<div class="loader"></div>
<div class="auth-wrapper">
    <div class="darken-image"></div>
    
    <div class="brand-wrapper-login">
        <div class="brand-logo">
            <img src="~/images/logo.jpg" />
        </div>
        <div class="brand-name">
            <div class="brand-first">DON <span class="brand-second">Macchiatos</span></div>
        </div>
    </div>
     
    <div class="login-wrapper">
        <div class="form-content">
            <h1 class="login-text-header">LOGIN</h1>

            <form asp-action="Login" id="form" method="post">
                <div class="username-wrapper">
                    <label asp-for="Username">Username:</label><br />
                    <input asp-for="Username" type="text" class="Username" required />
                </div>

                <div class="password-wrapper">
                    <label asp-for="Password">Password:</label><br />
                    <div class="password-toggle">
                        <input asp-for="Password" type="password" class="Password" required id="passwordInput" />
                        <img src="~/images/hide.png" id="eyeImage" onclick="togglePasswordVisibility()" />
                    </div>
                    
                    @* <img src="hide.png" alt="Hide password" id="eyeImage" onclick="togglePasswordVisibility()" /> *@
                </div>

                <button type="submit" id="submitLoginBtn">LOGIN</button>
            </form>
        </div>
    </div>

    <div class="login-side">
        <div class="side-content">
            <div class="side-content-top">
                <div class="side-content-top-image">
                    <img src="~/images/coffee-logo.png" />
                </div>
                <div class="side-content-top-text">
                    <span>TAKE 
                        <span class="side-content-top-text-your">YOUR </span>
                        <span class="side-content-top-text-coffee">COFFEE</span>
                    </span>
                </div>
            </div>
            <div class="side-content-bottom">
                
                <div class="side-content-bottom-text">
                    <p>
                        Beat the heat and treat yourself to our cool,
                        refreshing drinks starting at just ₱39!
                        Whether you're craving for iced or hot coffee,
                        Don Macchiatos has got you covered.
                        Just like Daniel, stay refreshed and energized all day long!
                        Which flavor will you try today?
                    </p>
                </div>
            </div>


        </div>
        
        
    </div>
</div>
 




<!--Pop up messages-->
@if (TempData["NotExist"] != null)
{

    <script>
      
        Swal.fire({

            text: "Username not found",
            icon: "error",   
            showConfirmButton: false,
            timer: 2000
        });       
      
    </script>
}

@if (TempData["Success"] != null)
{
   <script>
  
        Swal.fire({
            text: "Logged In Successfully",
            icon: "success",
            showConfirmButton: false,
            timer: 2000
        })
   </script>

}

@if (TempData["IncorrectPassword"] != null)
{
    <script>

        Swal.fire({

            text: "Incorrect Password",
            icon: "error",
            showConfirmButton: false,
            timer: 2000
        });
       


    </script>

} 

@if (TempData["Deactivated"] != null)
{
    <script>

        Swal.fire({

            text: "Account was deactivated",
            icon: "error",
            showConfirmButton: false,
            timer: 2000
        });



    </script>

}






























































