@model POS_CapstoneProject_.Models.User

@{
    Layout =  "/Views/Shared/_AuthLayout.cshtml";
}




 



@*      
<div class="login-wrapper">
    <div class="form-content">
        <h1 class="login-text-header">LOGIN</h1>

        <form asp-action="Login" id="form" method="post" >
            <div class="username-wrapper">
                <label asp-for="Username">Username:</label><br />
                <input asp-for="Username" type="text" class="Username" required />
            </div>

            <div class="password-wrapper">
                <label asp-for="Password">Password:</label><br />
                <input asp-for="Password" type="password" class="Password" required /><br />
            </div>

            <button type="submit" id="submitbTN">LOGIN</button>
        </form>
    </div>
</div> *@
<!--Pop up messages-->
@if (TempData["NotExist"] != null)
{

    <script>
      
        Swal.fire({

            text: "Username not found",
            icon: "error",   
            showConfirmButton: false,
            timer: 2000
        });       
      
    </script>
}

@if (TempData["Success"] != null)
{
   <script>
  
        Swal.fire({
            text: "Logged in successfully",
            icon: "success",
            showConfirmButton: false,
            timer: 2000
        })
   </script>

}

@if (TempData["IncorrectPassword"] != null)
{
    <script>

        Swal.fire({

            text: "Incorrect password",
            icon: "error",
            showConfirmButton: false,
            timer: 2000
        });
       


    </script>

} 

@if (TempData["Deactivated"] != null)
{
    <script>

        Swal.fire({

            text: "Account was deactivated",
            icon: "error",
            showConfirmButton: false,
            timer: 2000
        });



    </script>

}






























































