*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  
}
.inventory-button-wrapper{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.updateIngredientBtn {
    background-color: #1964C5;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.updateIngredientBtn img {
    height: 20px;
    width: 20px;
}

.addIngredientBtn, .stockOutBtn, .requestBtn {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 5px 10px;
    gap: 5px;
    font-size: 0.6rem;
    font-weight: bold;
    border-radius: 20px;
    border: 1.5px solid white;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.addIngredientBtn:focus, .stockOutBtn:focus, .requestBtn:focus {
    outline: 1px solid white;
}
.addIngredientBtn:hover, .stockOutBtn:hover, .requestBtn:hover {
    transform: scale(1.03);
}

.addIngredientBtn img, .stockOutBtn img, .requestBtn img {
    width: 25px;
    height: 25px;
}

.addIngredientBtn span, .stockOutBtn span, .requestBtn span{
    color: white;
}


.inventory-wrapper {
    position: relative;
    width: 100%;
    visibility: hidden;
}

.inventory-table {
    border: 1px solid transparent !important;
    z-index: 1 !important;
}

.inventory-table thead {
    color: white;
}

.inventory-table thead th {
    font-size: 0.8rem;
    background-color: #342924;
    text-align: center !important;
}

.inventory-table th:first-child {
    border-radius: 50px 0 0 50px !important;
}

.inventory-table th:last-child {
    border-radius: 0 50px 50px 0 !important;
}

.inventory-table tbody {
    background-color: #F7F7F7;
    color: black;
}


.inventory-table tbody tr {
    cursor: pointer;
    border-bottom: 1px solid black;
}
.inventory-table tbody tr:hover {
    background-color: rgba(0,0,0,0.1);
}

.inventory-table tbody td {
    font-weight: 500;
    text-align: center !important;
}
.inventory-table .action-wrapper{
    display: flex;
    justify-content: space-between;
}

.inventory-table .action-button  button {
    padding: 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    border: none;
    outline: none;
}

.inventory-table .action-button button:focus {
    outline: 1px solid black;
}

.inventory-table .action-button button:hover {
    transform: scale(1.09);
}

.warning-icon-wrapper {
    padding: 5px;
}

.warning-icon-wrapper .warning-icon {
    height: 25px;
    width: 25px;
    transition: 0.8s ease-in-out;
    animation: glowing 1s infinite;
}

/*Responsive Inventory Table*/
@media (max-width: 770px) {
    .inventory-table thead {
        display: none;
    }

    .inventory-wrapper {
        width: 100% !important;
    }

    .inventory-table {
        outline: none !important;
        border: none !important;
        box-shadow: none !important;
        width: 100% ;
        max-width: 550px;
    }

    .inventory-table tbody {
        background-color: transparent !important;
        border: none !important;
        outline: none !important;
    }

    .inventory-table, .inventory-table tbody, .inventory-table tr, .inventory-table td {
        display: block;
        width: 100%;
    }

    .inventory-table tbody td {
        text-align: right !important;
        border: none !important;
        outline: none !important;      
    }

    .inventory-table tr {
        margin-bottom: 20px;
        border-bottom: 2px solid #ccc;
        padding: 5px;
        border-radius: 10px;
        background-color: #f1f1f1 !important;    
    }

    .inventory-table td {
        text-align: right;
        padding-left: 50%;
        position: relative;
        padding-top: 15px;
        padding-bottom: 15px;
        border: 1px solid #ccc;
        box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    }

    .inventory-table td:before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        padding-left: 10px;
        font-size: 15px;
        font-weight: bold;
        text-align: left;
    }

    .inventory-table td .action-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 5px;
        margin-top: 20px;
    }

    .inventory-table td .btn {
        flex: 1;
        margin-top: 5px;
        max-width: 200px;
    }
}

/*Data table Library*/
.dt-search label {
    color: black;
    font-weight: lighter;
}

.dt-search .dt-input {
    border: 1px solid black !important;
}

.dt-length, .dt-info {
    display: none;
}
input::placeholder {
    color: dimgrey;
    font-weight: lighter;
    font-size: 0.9rem;
}

/*Modal*/

.add-ingredient-modal-img {
    height: 150px;
    width: 150px;
    position: absolute;
    top: -60px;
    left: -20px;
    z-index: 10;
}
.update-ingredient-modal-img {
    height: 180px;
    width: 180px;
    position: absolute;
    bottom: -15px;
    right: -25px;
    z-index: 10;
}

#addIngredientModal .modal-content, #updateIngredientModal
.modal-content{
    background: linear-gradient(140deg,#AFAFAF,#AFAFAF,#494949);
    border-radius: 20px;
    box-shadow: 1px 2px 5px black;
    padding: 5px 20px;
    border: 2px solid white;
}
#addIngredientModal .modal-content input, #updateIngredientModal
.modal-content input {
    background-color: #D1D6D2;
    border-radius: 10px !important;
}

#addIngredientModal .modal-header, #updateIngredientModal
.modal-header{
    border: none;
}

#addIngredientModal .modal-title, #updateIngredientModal
.modal-title{
    width: 100%;
    text-align: center;
    font-weight: bold;
}

#addIngredientModal label, #updateIngredientModal label
  {
    font-weight: bold
}

#addIngredientModal .close, #updateIngredientModal .close,
#choiceIngredientModal .close{
    position: absolute;
    top: 6px;
    right: 10px;
    outline: none;
    transition: 0.5s;
}

#addIngredientModal .close:hover, #updateIngredientModal .close:hover,
#choiceIngredientModal .close:hover{
    transform: scale(1.2);
}

#addIngredientModal .addIngredientSubmit, #updateIngredientModal .updateIngredientSubmit
{
    background-color: #342924;
    border-radius: 20px;
    padding: 10px 30px;
    border: none;
    color: white;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    font-weight: bold;
}

#addIngredientModal .addIngredientSubmit:hover, #updateIngredientModal .updateIngredientSubmit:hover
{
    background-color: black;
    color: white;
}

/*SweetAlert Custom Class*/
.custom-icon {
    font-size: 8px !important; 
}

.swal-addIngredient-title {
    font-size: 25px;
    font-weight: bolder !important; 
    color: black !important;
}

.swal-updateIngredient-title {
    font-size: 25px; 
    font-weight: bolder !important; 
    color: black !important;
}

.swal-stockInIngredient-title {
    font-size: 25px;
    font-weight: bolder !important;
    color: black !important;
}

.swal-stockOutIngredient-title {
    font-size: 25px;
    font-weight: bolder !important;
    color: black !important;
}
.swal-stockOutInsufficient-title-many:after {
    content: "The following ingredients are:";
    font-weight: lighter;
    color: grey;
    font-size: 0.9rem;
}
.swal-stockOutInsufficient-title-one:after {
    content: "The following ingredient is:";
    font-weight: lighter;
    color: grey;
    font-size: 0.9rem;
}
.swal-stockOutInsufficient-html {
    list-style: none;
    font-weight: lighter;
    color: grey;
    font-size: 0.9rem;
}

@keyframes glowing {
    0% {
        filter: drop-shadow(0px 0px 0px red);
    }


    50% {
        filter: drop-shadow(0px 0px 5px red);
    }


    100% {
        filter: drop-shadow(0px 0px 0px red);
    }
}


.exitRequest, .exitStockOut {
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 50%;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    outline: none !important;
    border: none !important;
}

.exitRequest:hover, .exitStockOut:hover {
    transform: scale(1.5)
}




.request-list-wrapper, .stock-out-wrapper {
    background: linear-gradient(140deg,#AFAFAF,#AFAFAF,#494949);
    box-shadow: 1px 2px 5px black;
    border-radius: 20px;
    border: 2px solid white;
    position: fixed;
    top: 70px;
    right: 15px;
    bottom: 40px;
    width: 320px;
    border: 2px solid white;
   
    
    z-index: 990;
    transition: 0.5s ease-in-out
}
.closeRequestList, .closeStockOutList {
    display: none;
}
.request-content-wrapper, .stock-out-content-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.request-ingredient-modal-img {
    height: 120px;
    width: 120px;
    position: absolute;
    top: -40px;
    left: -30px;
    z-index: 10;
}
.stockout-ingredient-modal-img {
    height: 120px;
    width: 120px;
    position: absolute;
    top: -40px;
    left: -30px;
    z-index: 10;
}
.request-list-header h1, .stock-out-header h1 {
    text-align: center;
    color: black;
    margin: 0;
    font-weight: bold;
    font-size: 2rem;
    flex-grow: 0;
    padding: 5px 0px;
}

.request-list-header .description, .stock-out-header .description {
    margin-top: 30px;
    justify-content: center;
    text-align: left;
    font-size: 1.2em;
    display: flex;
    gap: 50px;
    flex-direction: row;
}

.styled-table-container {
    flex: 1;
    padding: 0px;
    width: 100%;
    overflow-y: auto;
}

.request-list-footer {
    border-top: 1px solid black;
    justify-content: center;
    display: flex;
    flex-direction: row-reverse;
    padding: 10px;
}

.styled-table {
    width: 100%;  
}

.styled-table thead tr {
    position: sticky;
    background-color: #342924;
    color: #ffffff;
    z-index: 1;
    top: 0;
   
}
.styled-table thead th {
    padding: 10px 0px;
}

.styled-table tbody td {
   
    padding: 10px 0px;
   
}
.styled-table tbody td #ingQuantity{
    width: 80%;
    text-align: center;
}
.styled-table tbody tr:hover {
   background-color: rgba(250,250,250,0.5)
}

.styled-table-container::-webkit-scrollbar {
    width: 4px;
}

.styled-table-container::-webkit-scrollbar-track {
    background: #F1DCC8;
}

.styled-table-container::-webkit-scrollbar-thumb {
    background-color: black;
}

.styled-table-container::-webkit-scrollbar-thumb:hover {
    background-color: white;
}


.request-list-footer .requestSubmit {
    width: 120px;
    height: 50px;
    background-color: #342924;
    font-size: 1rem;
    font-weight: bolder;
    color: white;
    border: none;
    border-radius: 20px;
   
    transition: .3ms ease-in-out;
}

.request-list-footer .cancelrequest {
    width: 120px;
    height: 50px;
    background-color: transparent;
    font-size: 1rem;
    font-weight: bolder;
    color: white;
    border: 1px solid black;
    border-radius: 20px;
    transition: .3ms ease-in-out;
}



.stock-out-footer {
    display: flex;
    border-top: 1px solid black;
    flex-direction: column;
    padding: 5px;
}
.footer-buttons-wrapper{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding: 10px;
    gap: 20px;
   
}
.footer-buttons-wrapper .stockOutSubmit {
    width: 120px;
    height: 50px;
    background-color: #342924;
    font-size: 1rem;
    font-weight: bolder;
    color: white;
    border: none;
    border-radius: 20px;
    transition: .3ms ease-in-out;
}

.footer-buttons-wrapper .cancelStockOut {
    width: 120px;
    height: 50px;
    background-color: transparent;
    font-size: 1rem;
    font-weight: bolder;
    color: white;
    border: 1px solid black;
    border-radius: 20px;
    transition: .3ms ease-in-out;
}

.stockOutRemarks {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    background-color: #D9D9D9;
}
.stockOutRemarks option {
    background-color: #D9D9D9;
}

.stockOutRemarks option:checked {
    background-color: #888888;
    
}
   

@media (max-width:1120px) {
    .container-all {
        width: 100% !important;
    }

    .request-list-wrapper, .stock-out-wrapper {
        position: fixed;
        top: 50%;
        left: 50%;
        max-height: 450px;
        height: 100%;
        transform: translate(-50%, -50%) !important;
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
    }
}

@media (max-width: 400px){
    .inventory-button-wrapper{
        justify-content: center;
    }
}