*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  
}
/*Request filter */
.request-filter-wrapper {
    font-family: "Inter" !important;
    width: 100%;
    padding: 15px 10px;
    background-color: #342924;
    border: 1px solid white;
    margin-bottom: 5px;
    visibility: hidden;
    border-radius: 5px;
}
.request-filter-wrapper form{
   
    display: flex;  
    justify-content: start; 
    gap: 5px;
    flex-wrap: wrap;
}
.request-filter-wrapper label {
    color: white;
    font-weight: bolder;
}

    
.selectRequestStatus {
    padding: 7px;
    border-radius: 5px;
}

.request-filter-wrapper input {
    border-radius: 5px;
    padding: 5px;
    border: none;
}

.viewRequestBtn {
    cursor: pointer;
    padding: 5px 15px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    
}

@media (max-width: 700px) {
    .request-filter-wrapper form {
       justify-content: center;
    }
}

@media (max-width: 460px) {
    .request-filter-wrapper form > div{
        width: 100%;
    }
    .request-filter-wrapper form div > * {
        width: 100%;
    }
    .viewRequestBtn{
        margin-top: 10px;
    }
}

/*Note*/

.list-request-wrapper .note {
    padding: 5px;
    background-color: white;
    border: 1px solid black;
}

.list-request-wrapper .note ul {
    margin-left: 20px;
}

.list-request-wrapper {
    position: relative;
    width: 100%;
    visibility: hidden;
    font-family: "Inter" !important;
}

/*Main*/
.list-request-wrapper .list-request-header {
    text-align: left;
    margin-top: 10px;
    font-weight: bolder;
    color: white;
}

.list-request-wrapper .list-request-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    padding: 10px;
    overflow-y: auto;
    max-height: 500px;
    gap: 20px 20px;
}

.list-request-grid::-webkit-scrollbar {
    width: 8px;
}

.list-request-grid::-webkit-scrollbar-track {
    background: #F1DCC8;
}

.list-request-grid::-webkit-scrollbar-thumb {
    background-color: black;
    cursor: pointer;
}

.list-request-grid::-webkit-scrollbar-thumb:hover {
    background-color: white;
}

/*Request Card*/
.request-card {
    cursor: pointer;
    border-radius: 5px;
    background: linear-gradient(140deg,#AFAFAF,#AFAFAF,#494949);
    padding: 5px;
    height: 150px;
    border-radius: 20px;
    transition: 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 0px 5px rgba(0,0,0,0.2);
    text-wrap: nowrap;
    border: 2px solid white;
}

.request-card > div {
    border-bottom: 1px solid grey;
}
.request-card:hover{
    transform: scale(1.04);
}

/*Request Modal*/
#requestCardModal .completeRequestBtn, .cancelRequestBtn {
    background-color: #342924;
    border-radius: 20px;
    padding: 10px 30px;
    border: none;
    color: white;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    font-weight: bold;
    font-family: "Inter" !important;
}
#requestCardModal .completeRequestBtn:hover, .cancelRequestBtn:hover {
    background-color: black;
    color: white;
}
.request-modal-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 10px 50px;
}


#requestCardModal .request-card-table-wrapper {
    border: 1px solid black;
    overflow-y: auto;
    font-family: "Inter" !important;
}
#requestCardModal .request-card-table {
    width: 100%;
    
}
#requestCardModal .request-card-table tbody {
   background-color: white;
}
#requestCardModal .request-card-table thead {
    background-color: #342924;
    color: white;

}
#requestCardModal .request-card-table tr {
    border-bottom: 1px solid black;
}

#requestCardModal .request-card-table thead th{
    padding: 10px 5px;
    text-align: center;
}
#requestCardModal .request-card-table td{
    padding: 5px 10px;
    text-align:center;
}
.inputQtyRequest{
    width: 50%;
    text-align: center;
}

.request-card-table-wrapper::-webkit-scrollbar {
    width: 4px;
}

.request-card-table-wrapper::-webkit-scrollbar-track {
    background: #F1DCC8;
}

.request-card-table-wrapper::-webkit-scrollbar-thumb {
    background-color: black;
}

.request-card-table-wrapper::-webkit-scrollbar-thumb:hover {
    background-color: white;
}


/*Sweet Alert*/
.custom-icon {
    font-size: 15px !important;
    font-weight: 500 !important; 
    padding: 5px !important;
}


.swal-update-request-title::after {
    content: "Cannot be undone";
    font-weight: lighter;
    color: grey;
    font-size: 0.9rem;
}



/*No Result*/
.noResultPara{
    color: white;


}

