*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   
}

/*Filter*/
.stock-movement-filter-wrapper {
    font-family: "Inter" !important;
    width: 100%;
    padding: 15px 10px;
    background-color: #342924;
    border: 1px solid white;
    margin-bottom: 5px;
    border-radius: 5px;
    visibility: hidden;
}

.stock-movement-filter-wrapper form {
    display: flex;
    justify-content: start;
    gap: 5px;
    flex-wrap: wrap;
}

.stock-movement-filter-wrapper label {
    color: white;
    font-weight: bolder;
}

.selectTransactionType {
    padding: 7px;
    border-radius: 5px;
}

.stock-movement-filter-wrapper input {
    border-radius: 5px;
    padding: 5px;
    border: none;
}

.generateRecordBtn {
    cursor: pointer;
    padding: 5px 15px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
}


/*Stock Movement Wrapper*/

.stock-movement-wrapper {
    visibility: hidden;
    position: relative;
    width: 100%;
}

@media (max-width: 750px) {
    .stock-movement-filter-wrapper form {
        justify-content: center;
    }
}
/*Responsive filter Wrapper*/
@media (max-width: 680px) {
    .stock-movement-button-wrapper {
        width: 100%;
    }

    .generateRecordBtn {
        display: block;
        margin: 0 auto;
    }
}

@media (max-width: 490px) {
    .stock-movement-filter-wrapper form > div, .stock-movement-filter-wrapper form div > * {
        width: 100%;
    }

    .generateRecordBtn {
        margin-top: 10px;
    }
}
