*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   
}

.stock-movement-filter-wrapper {
    width: 100%;
    padding: 15px 10px;
    background-color: #342924;
    border: 1px solid white;
    margin-bottom: 5px;
    border-radius: 5px;
    visibility: hidden;
}

.stock-movement-filter-wrapper form {
    display: flex;
    justify-content: start;
    gap: 5px;
    flex-wrap: wrap;
}

.stock-movement-filter-wrapper label {
    color: white;
    font-weight: bolder;
}

.selectTransactionType {
    padding: 5px;
    border-radius: 5px;
}

.stock-movement-filter-wrapper input {
    border-radius: 5px;
    padding: 5px;
    border: none;
}

.generateRecordBtn {
    cursor: pointer;
    padding: 5px 15px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
}

@media (max-width: 700px) {
    .stock-movement-filter-wrapper form {
        justify-content: center;
    }
}

@media (max-width: 460px) {
    .stock-movement-filter-wrapper form > div {
        width: 100%;
    }

    .stock-movement-filter-wrapper form div > * {
        width: 100%;
    }

    .generateRecordBtn {
        margin-top: 10px;
    }
}

/*Stock Movement Wrapper*/

stock-movement-wrapper {
    display: none;
    position: relative;
    width: 100%;
}

@media (max-width: 450px){

    .stock-movement-header form{
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .selectTransactionType {
        width: 100%;
    }
    .generateRecordBtn{
        width: 50%;
    }
    
} 