*, *::after,*::before{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
   
}


.addCategoryBtn {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 5px 10px;
    gap: 5px;
    font-size: 0.6rem;
    font-weight: bold;
    border-radius: 20px;
    border: 1.5px solid white;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.addCategoryBtn:focus {
    outline: 1px solid white;
}

.addCategoryBtn img {
    width: 25px;
    height: 25px;
}

.addCategoryBtn span {
    color: white;
}

.addCategoryBtn:hover {
    transform: scale(1.03);
}

/*Category Wrapper*/
.category-wrapper {
    position: relative;
    width: 100%;
    visibility: hidden;
}


/* Category Table */

.category-table tbody tr {
    cursor: pointer;
}
.category-table tr:hover .table-data-category {
    border-radius: 20px;
    padding: 5px 10px;
    background-color: rgba(183, 183, 183,0.5);
    cursor: pointer;
}


/*SweetAlert Custom Class*/
.custom-icon {
    font-size: 8px !important; 
}




/*@media (max-width: 390px) {
    .addCategoryBtn {
        display: block;
        margin: 0 auto;
    }

    #addCategoryModal .modal-content, #updateCategoryModal .modal-content {
        padding: 5px;
    }

    .add-category-modal-img {
        width: 170px;
        height: 170px;
        
        
    }
    .update-category-modal-img {
        width: 120px;
        height: 120px;
        top: -45px;
        left: -35px;
    }

    .custom-confirm-btn,
    .custom-cancel-btn {
        width: 80px !important;
    }

    .swal-addCategory-title, .swal-updateCategory-title {
        font-size: 17px;
    }
}*/