*, *::after,*::before{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
   
}



/*Category Wrapper*/
.category-wrapper {
    position: relative;
    width: 100%;
    visibility: hidden;
}


/* Category Table */

.category-table tbody tr {
    cursor: pointer;
}
.category-table tr:hover .table-data-category {
    border-radius: 20px;
    padding: 5px 10px;
    background-color: rgba(183, 183, 183,0.5);
    cursor: pointer;
}


/*SweetAlert Custom Class*/
.custom-icon {
    font-size: 8px !important; 
}

.archived-category{
    background-color: rgba(0,0,0,0.1) !important;
}


/*@media (max-width: 390px) {
    .addCategoryBtn {
        display: block;
        margin: 0 auto;
    }

    #addCategoryModal .modal-content, #updateCategoryModal .modal-content {
        padding: 5px;
    }

    .add-category-modal-img {
        width: 170px;
        height: 170px;
        
        
    }
    .update-category-modal-img {
        width: 120px;
        height: 120px;
        top: -45px;
        left: -35px;
    }

    .custom-confirm-btn,
    .custom-cancel-btn {
        width: 80px !important;
    }

    .swal-addCategory-title, .swal-updateCategory-title {
        font-size: 17px;
    }
}*/