*::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Wrapper*/
.dashboard-wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    visibility: hidden;
}

.topbox {
    /*background-color: grey;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    flex-wrap: wrap; 
    margin-bottom: 10px;
}

.box {
    flex: 0 1 calc(25% - 20px);
    max-width: calc(25% - 20px);
    background: #EEEEEE;
    border-radius: 10px;
    border: 3px solid #A44B34;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.4);
}


@media (max-width: 950px) {
    .box {
        flex: 0 1 calc(50% - 20px); 
        max-width: calc(50% - 20px); 
    }
}

@media (max-width: 500px) {
    .box {
        flex: 0 1 calc(100% - 10px); 
        max-width: calc(100% - 10px);
    }
}

.box .box-top .box-top-right img{
    width: 75px;
    height: 75px;
}
.box .box-top{
    display: flex;
    flex: 3;
}
.count-text{
    font-size: 2rem;
}

.box .box-top .box-top-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box .box-top .box-top-left {  
    flex: 1;
    color: black;
    text-align: center;
    font-size: 0.9rem;
    font-weight: bolder;
   
}
.box .box-top .box-top-left > div{
    padding: 5px;
            
}


.box .box-bottom {
    flex: 1;
    
    text-align: center;
    padding: 5px;
}
.box .box-bottom img {
    width: 18px;
    height: 18px;
}


.box .box-bottom a {
    color: black;
    font-size: 0.9rem;
    background-color: blue;
    display: inline-block;
    text-decoration: none;
    border-radius: 20px;
    padding: 2px 15px;
    font-weight: bold;
    background-color: rgba(121, 118, 118, 0.2);
    transition: 0.3s ease-in-out;
}
.box .box-bottom a:hover{
    transform: scale(1.1);
}
.box .box-bottom .view-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
        
}

/* Middle Box Design*/

.middlebox {
    width: 100%;
    gap: 10px;
    display: flex;
    height: 600px;
    justify-content: space-between;
}

.charts-container h3{
    font-weight: bolder;
}
.charts-container {
    flex: 3;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}

.middlebox #saleschart {
    border-radius: 10px;
    width: 100%;
    border: 1px solid white;
}

/* Leaderboard */
#leaderboard {
    flex: 1;
    -ms-overflow-style: none;  
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; 
    background-color: white;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow-y: auto;  
}
#leaderboard .leaderboard-header{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
    width: 100%;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
}
.sortbutton {
   
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 1px;
   
}

.sortbutton > button {
    padding: 8px 15px;
    color: black;
    border-radius: 2px;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    box-shadow: none;
    outline: none;
}
.sortbutton > button:hover {
    background-color: #353b40;
    color: white;
}
.sortbutton > button:active {
    background: #353b40;
}
.sortbutton .active {
    box-shadow: none;
    background-color: #353b40;
    color: white;

}

.card {
    display: flex;
    flex-direction: row;  
    background-color: #606060;
    border-radius: 10px;
    color: white;
    margin-bottom: 10px; 
    overflow:hidden;
    width: 100%; 
    
}
.card .card-header {
    display: flex;
    justify-content: start;
    flex-direction: row;
    align-items: center;
    width: 80%;
    padding: 10px;
    margin: 0;
    /*background-color: black;*/
    font-size: 0.9rem;
}
   
.card .card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    background-color: grey;
    text-align: center;
    white-space: nowrap;
   
}
.top-rank{
    position: relative;
    margin-right: 10px;
}

.low-rank {
    margin-left: 20px;
    display: flex;
    flex-direction: row;

}
.low-rank span{
    margin-right: 25px;
}
 
.top-rank span {
    position: absolute;
    font-size: 0.9rem;
    font-weight: bold;
    color: black;
    z-index: 1;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.crown-gold-img, .crown-bronze-img, .crown-silver-img {
    height: 50px;
    width: 45px;
   
}

.ranking {
    padding: 10px;
    width: 100%;
    height: 100%;
    margin-top: 5px;
}

.monthly-ranking, .yearly-ranking {
    display: none;
}
.noDataRanking{
    text-align: center;
    font-weight: bolder;
}


@media (max-width: 950px) {
    .middlebox{
        flex-direction: column;
        height: auto;
    }
    #leaderboard{
        max-height: 400px;
    }
}