*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Wrapper*/
.dashboard-wrapper{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    flex-direction: row;
    background-color: transparent;
    min-height: 200px;
}

.box {
    height: 170px;
    width: 200px;
    display: flex;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    flex-direction: column;
    background-color: #BB832F;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}
.box .box-top{
    flex: 5;
   padding: 5px;
    display: flex;
   
}
.box .box-top .count {
    flex: 2;
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-size: 1.2rem;
    align-items: center;
       
}
.box .box-top .icon {
    flex: 4;
    display: flex;
      
    justify-content: center;
    align-items: center;
}
.box .box-top .icon img {
    height: 90px;
    width: 90px;
}

.box .box-middle {
    padding: 5px;
    font-weight: bold;
    flex: 1;
   

}

.box .box-bottom {
    flex: 1;

    display: flex;
   
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-weight: lighter;
}

.box .box-bottom img{
    height: 15px;
    width: 15px;
}


.box.first {
    background-color: rgba(246, 174, 67,0.8);
}

.box.second {
    background-color: #E18C2A;
}

.box.third {
    background-color: #DEAC76;
}

.box.fourth {
    background-color: #B57537;
}

.view-more-first {
    background-color: #BB832F !important;
}
.view-more-second {
    background-color: #BA6F1A !important;
}
.view-more-third {
    background-color: #BC7F3D !important;
}
.view-more-fourth {
    background-color: #905A25 !important;
}