*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  

}

.loader-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.4);
    /*  display: none;*/
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    z-index: 1000;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
body {
    padding-top: 70px;
    padding-left: 65px;
    padding-right: 10px;
    background-color: black;
    transition: 0.8s;
    background-image: url('/Images/bg-lower-bright.png');
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
   
}

/*Header*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
   
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-height: 70px;
    z-index: 10;
    padding: 0px 5px;
}
.header .left-section{
  
    display: flex;
    margin-left: 10px;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

.header .brand-name {
      
    line-height: 18px;
    margin-left: 5px;
}

.header .brand-name .brand-first {
    font-family: "Inika";
    font-weight: bold;
    color: white;
}

.header .brand-name .brand-second {
    font-family: "Imprima";
    display: block;
    font-weight: lighter;
}

.header .brand-logo {
    padding: 5px;
    background-color: white;
    border-radius: 50%;
    margin-bottom: 5px;
}

.header .brand-logo img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
     
.right-section {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: row;
    gap: 10px;
   
  
}
.header .right-section .logout-link{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 8px;
    border: 1px solid white;
    border-radius: 20px;
    transition: 0.3s;
    gap: 5px;
}
.header .right-section .logout-link > div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .right-section .logout-link:hover {
    transform: scale(1.09);
}
.header .right-section .logout-link img {
    height: 12px;
    width: 12px;
}
.header .right-section .logout-link span {
    color: white;
    font-weight: 500;
    font-family: "Inter";
    font-size: 0.7rem;
}

.header .right-section .checkout-icon {
    display: none;
    cursor: pointer;
    transition: 0.5s;
    margin-bottom: 5px;
    text-align: center;
    position: relative;
}
.header .right-section .checkout-icon .cart-count{
    position: absolute;
    top: 59%;
    left: 62%;
    font-size: 0.6rem;
    font-weight: lighter;
    color: white;
    transform: translate(-50%, -50%);
}
.header .right-section .checkout-icon img {
    width: 32px;
    height: 32px;
}

.header .right-section .checkout-icon:hover {
    transform: scale(1.2);
}

.header .right-section .user {
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5px;
}
.header .right-section .user .name-user{
    color: white;
    display: none;
    font-weight: lighter;
}

.header .right-section .user .user-icon img {
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
}

/*Sidebar*/
.sidebar {
    cursor: pointer;
 /*   background-color: rgba(250,250,250,0.01);
    box-shadow: 0px 0px 20px inset rgba(250,250,250,0.1);
    border: 1px solid rgba(250,250,250,0.2);*/
    width: 58px;
    position: fixed;
    top: 70px;
    left: 0;
    height: 100%;
    transition: 0.5s;
    z-index: 2;
}

.sidebar .sidebar-toggler {
  
    position: absolute;
    width: 15px;
    height: 15px;
    top: 50%;
    right: -7px;
    padding: 4px;
    background-color: transparent;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: 0.5s;
    border: 1px solid white;
    transform: rotate(180deg);
}
.sidebar .sidebar-toggler:hover {
    background-color: rgba(250,250,250,0.4) !important;
}

.sidebar ul {
   
    list-style: none;
   

}

.sidebar ul li {
    padding: 5px 10px;
    position: relative;
  
}

.sidebar ul li a .sidebar-link-img {
    width: 15px;
    height: 15px;
    margin-left: 5px;
   
}

.sidebar ul li a .sidebar-link-name {
    margin-left: 10px;
    font-size: 10px;
    font-weight: bolder;
    white-space: nowrap;
    display: none;
}

.sidebar ul li a {
    position: relative;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: start;
    padding: 10px 5px;
    align-items: center;
    background-color: transparent;
    width: 100%;
    border: 1px solid white;

}

.sidebar ul li a:hover {
    background-color: #747474;
}

.sidebar ul li:hover .inventorySubmenu {
    display: block;
    z-index: 1000 !important;
}

.sidebar ul ul {
    display: none;
    position: absolute;
    left: 58px;
    top: 5px;
    z-index: 2000 !important;
    background-color: black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 1px solid black;
    width: 150px; 
    height: auto;
    
    transition: 0.5s ease-in-out;
}

.sidebar ul ul li a {
    border-radius: 10px;
    font-size: 0.6rem;
    display: block;
    text-align: center;
    font-weight: lighter;
    white-space: nowrap;
}
.container-all {
    /* background-color: rgba(250,250,250,0.5);*/
    background-color: rgba(111,110,110,0.6);
    height: calc(100vh - 110px);
    z-index: 1;
    border-radius: 5px;
    padding: 10px;
   /* overflow-y: auto;*/
}


.container-all::-webkit-scrollbar {
    width: 3px;
        
}

.container-all::-webkit-scrollbar-track {
    background: transparent;
       
}

.container-all::-webkit-scrollbar-thumb {
    background-color: black;
    cursor: pointer;
}

@media (max-width: 770px) {
    .sidebar .sidebar-toggler{
        display: none !important;
    }
    .sidebar {
        width: 58px !important;
    }
    .sidebar ul li a .sidebar-link-name{
        display: none !important;
    }
    body{
        padding-left: 65px !important; 
    }
    .sidebar ul ul {
        left: 58px !important;
    }
}

@media (max-width: 900px) {
    .sidebar .sidebar-toggler {
        display: none !important;
    }

    .sidebar {
        width: 58px !important;
    }

    .sidebar ul li a .sidebar-link-name {
        display: none !important;
    }

    body {
        padding-left: 65px !important;
    }

    .sidebar ul ul {
        left: 58px !important;
    }
}


