*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Product Wrapper*/
.product-wrapper {
    position: relative;
    width: 100%;
    visibility: hidden;
    font-family: "Inter", "Arial";
}



/*Product Table*/
.product-table .table-data-category {
    border-radius: 20px;
    padding: 5px 10px;
    background-color: rgba(183, 183, 183,0.5);
}

.product-table tbody tr:not(.archived-product) {
    cursor: pointer;
}

.archived-product .table-data-category {
    pointer-events: none;
}

.table-data-category {
    border-radius: 20px;
    padding: 5px 10px;
    background-color: rgba(183, 183, 183,0.5);
    cursor: pointer;
}

.product-table tbody tr:hover:not(.archived-product) {
    box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.2), inset -1px 0 0 rgba(255, 255, 255, 0.2), 0 0 4px 0 rgba(95, 99, 104, .6), 0 0 6px 2px rgba(95, 99, 104, .6);
}



/*Archive Pproduct*/
/*.archived-product {
    background-color: rgba(0,0,0,0.1) !important;
}*/
/*Sweet Alert class*/

.swal-archive-product-title::after {
    content: "This product will not be available for sale";
    font-weight: lighter;
    color: grey;
    font-size: 0.9rem;
    white-space: pre-wrap
}
.swal-unarchive-product-title::after {
    content: "This product will be available for sale";
    font-weight: lighter;
    color: grey;
    font-size: 0.9rem;
    white-space: pre-wrap
}

/*@media (max-width: 350px) {
    .swal-archive-product-title::after, .swal-unarchive-product-title::after {
        font-size: 0.6rem;
    }
}*/