
*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.report-filter-wrapper {
    width: 100%;
    padding: 15px 10px;
    background-color: #342924;
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 5px; 
    visibility: hidden;
}


.report-filter-wrapper form {
    display: flex;
    justify-content: start;
    gap: 5px;
    flex-wrap: wrap;
}

.report-filter-wrapper label {
    color: white;
    font-weight: bolder;
}


.selectReportType {
    padding: 5px;
    border-radius: 5px;
}

.report-filter-wrapper input {
    border-radius: 5px;
    padding: 5px;
    border: none;
}

.generateReportBtn {
    cursor: pointer;
    padding: 5px 15px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
}

@media (max-width: 700px) {
    .report-filter-wrapper form {
        justify-content: center;
    }
}

@media (max-width: 460px) {
    .report-filter-wrapper form > div {
        width: 100%;
    }

    .report-filter-wrapper form div > * {
        width: 100%;
    }

    .generateReportBtn {
        margin-top: 10px;
    }
}

.report-wrapper {
    display: none;
    position: relative;
    width: 100%;
}

.report-table {
    border: 1px solid transparent !important;
    z-index: 1 !important;
}

.report-table thead {
    color: white;
}

.report-table thead th {
    background-color: #342924;
    text-align: center !important;
}

.report-table th:first-child {
    border-radius: 50px 0 0 50px !important;
}

.report-table th:last-child {
    border-radius: 0 50px 50px 0 !important;
}

.report-table tbody {
    background-color: #F7F7F7;
    color: black;
}


    .report-table tbody tr {
    border-bottom: 1px solid black;
}

.report-table tbody td {
    font-weight: 500;
    text-align: center !important;
}

@media (max-width: 770px) {
    .report-table thead {
        display: none;
    }

    .report-table {
        outline: none !important;
        border: none !important;
        box-shadow: none !important;
        width: 100%;
        max-width: 550px;
    }

    .report-table tbody {
        background-color: transparent !important;
        border: none !important;
        outline: none !important;
    }

    .report-table, .report-table tbody, .report-table tr, .report-table td {
        display: block;
        width: 100%;
    }

    .report-table tbody td {
        text-align: right !important;
        border: none !important;
        outline: none !important;
    }

    .report-table tr {
        margin-bottom: 20px;
        border-bottom: 2px solid #ccc;
        padding: 5px;
        border-radius: 10px;
        background-color: #f1f1f1 !important;
    }

    .report-table td {
        text-align: right;
        padding-left: 50%;
        position: relative;
        padding-top: 15px;
        padding-bottom: 15px;
        border: 1px solid #ccc;
        box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    }

    .report-table td:before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 10px;
        font-size: 15px;
        font-weight: bold;
        text-align: left;
    }
}

