
*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.report-filter-wrapper {
    font-family: "Inter", "Arial";
    width: 100%;
    padding: 15px 10px;
    background-color: #1F1C1C;
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 5px;
    visibility: hidden;
}

.report-fromdate-wrapper, .report-todate-wrapper, .inventory-bytype-wrapper{
    display: none;
}


.report-filter-wrapper form {
    display: flex;
    justify-content: start;
    gap: 5px;
    flex-wrap: wrap;
}

.report-filter-wrapper label {
    color: white;
    font-weight: bolder;
}


.selectReportType,.inventoryByType{
    padding: 7px;
    border-radius: 5px;
}

.report-filter-wrapper input {
    border-radius: 5px;
    padding: 5px;
    border: none;
}

.generateReportBtn {
    cursor: pointer;
    padding: 5px 15px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
}

/*Report Wrapper*/
.report-wrapper {
    visibility: hidden;
    position: relative;
    width: 100%;
    border: 1px solid red;
}


@media (max-width: 870px) {
    .report-filter-wrapper form {
        justify-content: center;
    }
  
}
@media (max-width: 760px){
    .report-button-wrapper {
        width: 100%;
       
       
    }
    .generateReportBtn{
        display: block;
        margin: 0 auto;
    }
}

@media (max-width: 490px) {
    .report-filter-wrapper form > div, .report-filter-wrapper form div > * {
        width: 100%;
    }


    .generateReportBtn {
        margin-top: 10px;
    }
}



/*.grandTotal-wrapper{
    display: none;
}*/
.grandTotal-wrapper{
    position: absolute;
    bottom: 0px;
}
.grandTotal-wrapper p {
    font-family: "Inter", "Arial";
    font-weight: bolder;
    font-size: 1.7rem;
    /* text-align: center;*/
    color: black !important;
}