*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  
}

.addUserBtn {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 5px 10px;
    gap: 5px;
    font-size: 0.6rem;
    font-weight: bold;
    border-radius: 20px;
    border: 1.5px solid white;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.addUserBtn img {
    width: 25px;
    height: 25px;
}
.addUserBtn:hover {
    transform: scale(1.03);
}
.addUserBtn:focus {
    outline: 1px solid white;
}
.addUserBtn span {
    color: white;
}

/*User Wrapper*/

.user-wrapper {
    position: relative;
    width: 100%;
    visibility: hidden;
}

/*User Modal*/

.details-wrapper{
    display: flex;
    flex-direction: column;
}
.details-wrapper .detail-info{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.details-wrapper .detail-info > div{
    flex: 1;
}

.row-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/*SweetAlert custom class*/
.custom-icon {
    font-size: 8px !important; 
}

