*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  
}
.archived-user{
    background-color: rgba(0,0,0,0.1) !important;
}
/*User Wrapper*/
.user-wrapper {
    position: relative;
    width: 100%;
    visibility: hidden;
}

/*User Modal*/

.details-wrapper {
    font-family: "Inter" !important;
    display: flex;
    flex-direction: column;
}
.details-wrapper .detail-info{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.details-wrapper .detail-info > div{
    flex: 1;
}


#addUserModal > input{
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}
.row-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.password-toggle-user {
    width: 100%;
    border-radius: 10px;
    border: none;
    outline: blue;
    display: flex;
    border: none;
    background-color: white;
    align-items: center;
    justify-content: space-between;
   
    background-color: #D1D6D2;
}
.inputPassword {
    flex: 1;
    border: none;
    width: 80%;
    padding: 6px 10px;
   
    outline: blue;
   
}
.eyeImage {
    width: 18px;
    height: 18px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
}
/*SweetAlert custom class*/

