*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  
}
.archived-user{
    background-color: rgba(0,0,0,0.1) !important;
}
/*User Wrapper*/
.user-wrapper {
    position: relative;
    width: 100%;
    visibility: hidden;
}

/*User Modal*/

.details-wrapper{
    display: flex;
    flex-direction: column;
}
.details-wrapper .detail-info{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.details-wrapper .detail-info > div{
    flex: 1;
}

.row-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/*SweetAlert custom class*/
.custom-icon {
    font-size: 8px !important; 
}

